[2018-12-05 23:11] zsunberg opened #3 "Performance scope"
Hi @changliuliu

First of all, thank you for the talk today! I think that was very helpful for all of us.

After hearing the talk, I am curious about what the performance goals for this package are. Are these implementations meant to only be used on toy problems with a handful of small layers, or are they going to rival the performance of the original implementations on large neural networks?

If

[2018-12-12 06:35] clazarus opened #4 "Constructor parameter ordering"
The constructors of Sherlock and BaB take in a hyperparameter first and the optimizer second:

https://github.com/sisl/NeuralVerification.jl/blob/1e3f067f1900e3ceeed3ab6765b26c34ba95a00c/src/satisfiability/sherlock.jl#L4-L9

https://github.com/sisl/NeuralVerification.jl/blob/1e3f067f1900e3ceeed3ab6765b26c34ba95a00c/src/satisfiability/bab.jl#L6-L11

The constructors of ILP and NSVerify do it in the

[2018-12-12 06:43] #4 closed, assigned to changliuliu, tomerarnon

[2018-12-27 02:10] clazarus opened #6 "Commit d52efce broke multiple algorithms"
Hi,

After merging d52efce I manually added the package Parameters and then when trying to run the tests I get the following errors:

For Group 4:
`ERROR: LoadError: MethodError: no method matching forward_layer(::FastLin, ::NeuralVerification.Layer, ::Hyperrectangle{Float64})
Closest candidates are:
  forward_layer(::MaxSens, ::NeuralVerification.Layer, ::Hyperrectangle) at /Users/christopherlaza

[2018-12-28 07:43] #6 closed, assigned to changliuliu

[2018-12-31 04:27] #3 closed, assigned to nobody

[2019-01-05 10:17] tomerarnon opened #9 "High dimensional Hrep-Vrep (Ai2/ExactReach)"
`Ai2`, `ExactReach`, ~`Duality`~ currently do not work in higher dimensions due to the scaling limitations of translating from H to V representation (for linear mapping, etc.).

Discussing a possible solution for this [here](https://github.com/JuliaReach/LazySets.jl/issues/966).

[2019-01-05 16:53] mykelk opened #11 "Move existing_implementations into documentation"
There is a file called `existing_implementations` that should be deleted from the root of the repo and moved into the docs.

[2019-01-05 16:55] mykelk opened #12 "Link to original papers in readme"
At the top of the readme, it would be great to link the names of the listed algorithms directly to the associated papers.

[2019-01-05 16:59] mykelk opened #13 "Uniform naming for nnet files"
In some places it's nnet, but in others it is txt. I think maybe we should just use nnet. Update documentation/readme as well.

[2019-01-05 19:26] tomerarnon opened #14 "Planet non-eager implementation incomplete"
We changed the original eager implementation to non-eager, which should not have affected soundness/completeness. That said, the non-eager implementation is not complete. This is either because of `elastic_filtering` (which returns conflicting results) or because the implementation is incorrect.

[2019-01-05 20:21] #11 closed, assigned to tomerarnon

[2019-01-05 20:21] #12 closed, assigned to tomerarnon

[2019-01-05 20:21] #13 closed, assigned to tomerarnon

[2019-01-06 03:43] tomerarnon opened #16 "JuMP.solve in duality"
Duality is getting stuck on `solve`.

[2019-01-06 21:59] mykelk opened #20 "Precompile"
Why is it set to false?

[2019-01-06 22:01] mykelk opened #21 "DeepTest and DeepExplore"
It looks like it is still in the repo. Should it be removed to reduce confusion? Or does it work?

https://github.com/sisl/NeuralVerification.jl/tree/master/src/sampling

[2019-01-06 22:37] #21 closed

[2019-01-07 01:39] tomerarnon commented on #20
Originally for more streamlined development. I can set it to true now that it's public.

[2019-01-07 02:28] tomerarnon opened #22 "PicoSAT breaking build/test"
I forgot that we each fixed PicoSAT privately (to get it to work with 1.0) ~2 months ago. I left an issue on the repo a while back but it hasn't had any activity in 6 months.

This fork does the same thing we did: https://github.com/kopptr/PicoSAT.jl, but I'm not sure how to require a particular fork in the Project/Manifest, so still reading up on it.

@mykelk have you encountered a situation like

[2019-01-07 02:48] mykelk commented on #22
@rejuvyesh or @MaximeBouton can probably tell you the best way to do it. In the mean time, you can add it manually in the build script in deps/build.jl. See https://julialang.github.io/Pkg.jl/v1/creating-packages/.

[2019-01-07 02:54] tomerarnon commented on #22
Tried something 🤷‍♂️

[2019-01-07 03:36] tomerarnon commented on #22
This issue is fixed.
Build is still failing on linux though

[2019-01-07 03:36] #22 closed

[2019-01-07 03:39] tomerarnon opened #23 "Build fails on linux"
The error maybe has to do with different filesystems?

[error](https://travis-ci.org/sisl/NeuralVerification.jl/jobs/476173583):
[code]

[2019-01-07 03:52] mykelk commented on #23
It's due to the fact that linux is strict about the file name capitalization. Your error has FastLin.jl in caps, but the actual file starts lowercase.

[2019-01-07 03:58] mykelk opened #24 "Code coverage"
We have code coverage statistics now! I think we want to aim for at least 85% coverage. I might suggest that @tomerarnon check for dead code (which might reveal bugs) and @clazarus add any additional tests. Just click on the coverage badge in the README and then click through to the highlighted source code.

[2019-01-07 03:59] #23 closed

[2019-01-14 10:38] MikeInnes opened #25 "Flux Models"
This package looks cool and I wonder what it'd take to get it working with Flux models. I'm basically imagining replacing
[code]
with
[code]
and passing it to `Problem(nnet, input_set, output_set)` still works.

Under the hood it should be a simple case of converting Flux chains to this package's internal format, something I'm happy to help out with if there's interest.

[2019-01-15 05:31] mykelk commented on #25
Awesome! There is definitely interest in this. I think you can bypass the `.nnet` file entirely and just populate the `Network` structure in `src/utils/network.jl`. It is super simple; just a vector of weight matrices and bias vectors along with an activation function.

[2019-01-15 07:54] mykelk opened #26 "Elastic filtering's unused o"
In elastic filtering, we have
[code]
but it looks like `o` is not used? Should we drop the `o` to reduce confusion?

[2019-01-15 08:10] tomerarnon commented on #25
Converting from `Flux`'s representation to ours would be quite simple assuming only `Dense` layers. For function layers or user-defined layers, this can get much hairier, of course.
[code]
Passing along `Chain`s directly (without conversion) could also be possible actually, but is much more involved. It would be interesting if at some point we could generalize the idea of a `Layer` so that it coul

[2019-01-15 08:47] tomerarnon opened #27 "Default solvers"
Planet and MIPVerify do not have default solvers set.
Reluplex does not have a user option to set the solver, and should.

[2019-01-15 22:29] #14 closed, assigned to nobody

[2019-01-18 01:50] mykelk opened #28 "Max pooling"
We have `Max` but not max-pooling activation. This should be easy to add. Make sure we test it. We'd want to add it to the paper as well.

[2019-01-19 23:52] clazarus opened #29 "Reluplex is failing a sanity test"
Currently Reluplex is outputting UNSAT for the sanity test that should be SAT. Currently investigating the cause of this incorrect behavior.

https://github.com/sisl/NeuralVerification.jl/blob/bf62d4903f25160e811112025d83a404b643ddb2/test/runtests.jl#L75

[2019-01-19 23:59] clazarus opened #30 "Reluplex should support HPolytope input/output"
HPolytope's are more expressive than Hyperrectangles as they are able to represent relationships among input and among output variables beyond hypercubes that are parallel to the canonical axes (such as x_1 > x_2) . There is no algorithmic reason why Reluplex couldn't support them so this feature will be incorporated.

[2019-01-20 00:02] clazarus commented on #28
According to our discussion we concluded that directly supporting Maxpooling would require modifying the implementations of the algorithms significantly. Accordingly, an explanation of how to represent a Maxpooling operation using a combination of ReLU's will be added to the documentation.

[2019-01-25 00:36] clazarus opened #31 "Planet cannot currently handle HPolytope Input sets"
According to:
https://github.com/sisl/NeuralVerification.jl/blob/fd13740377b0eedd6f8a433aea78800c2395dc8e/src/satisfiability/planet.jl#L8

Planet supports both Hyperrectangle and HPolytope Input sets. However, Planet calls get_bounds():

https://github.com/sisl/NeuralVerification.jl/blob/fd13740377b0eedd6f8a433aea78800c2395dc8e/src/satisfiability/planet.jl#L110

which currently only supports insta

[2019-01-25 00:41] clazarus commented on #30
In a similar fashion to Planet (discussed in https://github.com/sisl/NeuralVerification.jl/issues/31), Reluplex calls get_bounds():
https://github.com/sisl/NeuralVerification.jl/blob/fd13740377b0eedd6f8a433aea78800c2395dc8e/src/satisfiability/reluplex.jl#L77

which currently only supports instances of Problem with a Hyperrectangle Input set. Reluplex could easily support HPolytope Input sets but c

[2019-01-25 00:48] clazarus opened #32 "add_complementary_set_constraint! has inconsistent behavior"
I believe the version of add_complementary_set_constraint! implemented in:

https://github.com/sisl/NeuralVerification.jl/blob/fd13740377b0eedd6f8a433aea78800c2395dc8e/src/optimization/utils/constraints.jl#L175

is expected to have the analogous behavior as the one in:

https://github.com/sisl/NeuralVerification.jl/blob/fd13740377b0eedd6f8a433aea78800c2395dc8e/src/optimization/utils/constraints.jl

[2019-01-25 03:14] clazarus commented on #24
Coverage decreased with the latest change to runtests.jl. I analyzed the statistics and most algorithms had increased coverage except for Planet (which went to 0) which I mistakenly (due to a dependency issue in my local machine) not include in the latest tests. I am going to add Planet now and revise the impact on the coverage. If these tests do not suffice I will add the performance tests that r

[2019-01-27 01:00] chelseas opened #36 "Tried to Use Ai2 with HPolytopes and Encountered Errors"
Tried to use Ai2 with Hpolytopes that are truly HPolytopes and not halfspaces (the test in sanity_old is halfspaces at least) and encountered the following error:

ERROR: MethodError: no method matching meet(::VPolytope{Float64}, ::Int64, ::Bool)
Closest candidates are:
  meet(::VPolytope, ::Bool) at /Users/Chelsea/.julia/packages/NeuralVerification/hFQ70/src/reachability/ai2.jl:61
Stacktrace:
 [1

[2019-01-28 02:54] clazarus commented on #32
Quick update:

I ran the sanity and performance tests after adding:`@assert false` as the first line in the body of `add_complementary_set_constraint!(model::Model, output::Hyperrectangle, neuron_vars::Vector{Variable}) ` and all the tests passed so this version of the function is never called (at least for those tests), which indicates that it might be safe to remove it.

[2019-01-28 21:00] mykelk opened #38 "SAT/UNSAT to holds/violated"
It was suggested by @guykatzz to change `:SAT` and `:UNSAT` to `:holds` and `:violated` to reduce confusion by others in the FM community.

[2019-01-28 21:06] tomerarnon opened #39 "import NNLib for activation functions, and increased future compatibility with Flux."
Can keep ReLU, etc. by defining it as an alias: `ReLU = typeof(NNLib.relu)`, etc.

[2019-01-28 21:09] tomerarnon opened #40 "parameterizing Layer removes need for GeneralAct"
Since we're thinking of parameterizing `Layer` anyway, and `typeof(<:Function)` is unique for each function, i.e. `typeof(max) != typeof(relu)`, we can get rid of `GeneralAct` in favor of e.g. `Layer{typeof(tanh}}`, similar to `Flux`.
Just need to make sure things stay compatible with e.g. `PiecewiseLinear`, which has fields.

[2019-01-29 01:15] clazarus commented on #38
👍 I agree that it can be confusing and support the motion to change it. In fact, I was confused with this when I first ported Reluplex to Julia and that confusion was the origin of the bug that I just fixed last week. I had to do a triple negation in my mind to figure it out  😆. I will follow this thread and update the return types once the wording is settled.

[2019-01-29 02:06] chelseas opened #41 "CDDLib Breaks NV.jl"
Julia version: 1.0.2
I tried to use NV.jl:
[code]

And then I got this error:
[code]

So I ran
[code]
And I got this:
[code]

So I ran

```sudo apt-get install libgmp-dev```

 successfully.

But then I still got the same errors. Same "no gmp.h" stuff.

[2019-01-29 02:12] chelseas opened #42 "MaxSens Excessive Memory Usage"
I am trying to run some properties on a network with the following structure:
7,5,10,22, (7 layers, input dim of 5, output dim of 10, largest layer 22 neurons wide)
The layers have the following sizes:
5,14,14,18,18,22,22,10,

Running on a server with 125 GB of RAM, it used 165GB of memory (some swap there too) and ran for 13 hours before I killed it. On a machine with 31GB of ram, I'm running it

[2019-01-29 03:00] tomerarnon commented on #41
Haven't seen that issue before. Have you tried removing and reinstalling CDDLib (the turn-it-off-and-on-again of julia packages...)

[2019-01-29 03:02] #36 closed

[2019-01-29 20:34] changliuliu commented on #38
I prefer ```:unsatisfied``` and ```:satisfied```.

[2019-01-30 00:01] clazarus commented on #38
Ok, I will add this to my to-do's and begin making the appropriate changes soon.

[2019-01-30 06:03] barrettcw commented on #38
Why not :unsatisfiable and :satisfiable

This would be most consistent with the formal methods literature.

[2019-01-30 06:06] mykelk commented on #38
@barrettcw I think the confusion would be that we are talking about the input-output property, not a possible input assignment. We just want to prove whether the property holds (i.e. is satisfied), not that there exists an input that satisfies the output constraint (i.e. is satisfiable). Does that make sense?

[2019-01-30 06:10] barrettcw commented on #38
Oh wait - you are using :satisfied as a synonym for :holds ?  I think that is even worse.  :)

How about we go back to Guy's suggestion - :holds and :violated.  Using any variation of sat and unsat will cause immense confusion.

[2019-01-30 06:14] mykelk commented on #38
Fine with me. @changliuliu and @clazarus , is that okay?

[2019-01-30 08:20] clazarus commented on #38
I agree with Clark.

If I understood correctly, `:SAT/:satisfied` and `:UNSAT/:unsatisfied` would still evoke the meaning they have in the context of boolean satisfiability problems and could potentially lead users to interpret them with the opposite meaning of what they currently have in this package (i.e. the way Reluplex uses the terms). I believe `:holds` and `:violated` do not evoke this cont

[2019-02-04 00:03] chelseas commented on #36
As I mentioned in #37 , I've been using Julia 1.0 the whole time and still getting this issue.

[2019-02-13 05:50] #38 closed

[2019-02-13 07:14] tomerarnon opened #44 "Encode some output constraints as "PolytopeComplement""
As per the discussion earlier today, we should create a new type which represents the complement of a polytope. This will allow us to capture more expressive output sets in certain algorithms.

[2019-02-15 21:59] kjulian3 commented on #41
Is there a solution to this issue? I am having the same problem. I installed libgmp-dev, but I'm still getting the error when I try to build CDDLib.

[2019-02-16 10:51] tomerarnon commented on #41
As far as I know, no. I've never seen this issue myself, and haven't investigated it. @chelseas may have found a way to resolve it?

[2019-02-16 20:11] kjulian3 commented on #41
I had to add the libgmp.so file to my LD_PRELOAD, as described here: https://github.com/JuliaPolyhedra/CDDLib.jl/issues/26

Now it's working for me.

[2019-02-19 03:06] tomerarnon opened #45 "Update JuMP"
We are using an old version of JuMP. The latest version has different functions, variables and syntax so switching over could be a bit of a project.

[2019-02-19 03:07] tomerarnon opened #46 "Update LazySets"
LazySets has made a lot of updates since we pinned NV to a particular version. Some of those changes are breaking, so we can't just upgrade without updating things on our end, but updating also offers performance gains.

[2019-02-20 09:29] tomerarnon commented on #45
Just took another look. Two major advantages to upgrading:

1) [Variables are queryable from the model by name.](http://www.juliaopt.org/JuMP.jl/v0.19.0/variables/#What-is-a-JuMP-variable?-1) This means we don't necessarily have to carry around `neurons` and `deltas`, etc. everywhere we go. We can access them with e.g. `model[:z]`, which is just grand.

2) [Constraints are deletable](http://www.ju

[2019-02-20 16:33] mykelk commented on #45
Let's do it! It looks like much of the [basic syntax](http://www.juliaopt.org/JuMP.jl/v0.19.0/quickstart/#Quick-Start-Guide-1) is the same.

[2019-02-23 20:30] mforets commented on #46
LazySets [v1.7.0](https://github.com/JuliaReach/LazySets.jl/releases/tag/v1.7.0) implements a simple, "low-hanging fruit" improvement for the concrete linear map of polyhedra; this could replace and in some cases improve [passing to vrep in this function](https://github.com/sisl/NeuralVerification.jl/blob/master/src/utils/util.jl#L332); see [linear_map docs](https://juliareach.github.io/LazySets.j

[2019-02-23 22:35] tomerarnon commented on #46
@mforets, indeed, that concrete linear map in h-rep is the primary improvement I was referring to. Also, thanks for the link to the explanation!

I recall you proposed adding an `AffineMap`/`affine_map` functionality to LazySets. Is this something that is still planned? We are thinking of renaming `linear_transformation`, which is verbose (and not technically correct), to `affine_map` as per LazyS

[2019-02-24 18:51] khedher1984 commented on #20
Hello,
the command "using NeuralVerification" never pass. The error is about failed to precompile to ......sJvOT.ji.
someone can help me ?

[2019-02-24 20:16] tomerarnon commented on #20
@khedher1984 You're the first with this problem as far as I know. Any other info from the error message? Maybe copy paste the whole thing...

[2019-02-24 20:32] khedher1984 commented on #20
julia> using NeuralVerification
[ Info: Precompiling NeuralVerification [146f25fa-00e7-11e9-3ae5-fdbac6e12fa7]
ERROR: LoadError: LoadError: UndefVarError: Variable not defined
Stacktrace:
 [1] top-level scope at none:0
 [2] include at ./boot.jl:317 [inlined]
 [3] include_relative(::Module, ::String) at ./loading.jl:1044
 [4] include at ./sysimg.jl:29 [inlined]
 [5] include(::String) at /home/mouad

[2019-02-24 21:02] tomerarnon commented on #20
Your version of `JuMP` is ahead of the one required in the Manifest.toml. `JuMP` recently renamed the type `Variable` to `VariableRef` and we haven't yet kept up with that change. You could downgrade your JuMP version to the one listed in the Manifest. Some time soon we will also update the code to match the newest version.

[2019-02-24 21:19] mykelk commented on #20
By some time soon, @tomerarnon means within a week, I believe.

[2019-02-24 21:27] tomerarnon commented on #20
Hopefully, yes. I'll update here as well as #45

[2019-02-25 10:17] khedher1984 commented on #45
Thank you for your help.
The version installed is 0.19.0 however the code is implemented under the version 0.17.0.
I try this command Pkg.add("JuMP",v"0.17.0") but it not passed.
can someone help me ?

[2019-02-25 10:33] tomerarnon commented on #45
In Julia 1.0+, you need to do something like this from the package manager:

[code]
 [See this discourse thread](https://discourse.julialang.org/t/how-to-pin-a-package-to-previous-version-on-julia-1-0/13661/6). Hope that resolves it.
Note that the version you want is not 0.17.0, but 0.18.5, which is the one the one listed in the Manifest file.

[2019-02-25 11:11] khedher1984 commented on #45
Tank you very munch. I removed JuMP and installed it using the command  add JuMP@0.18.5
It works now !

[2019-02-26 04:25] tomerarnon commented on #46
@mforets, on this same topic, is there currently a way to perform a concrete translation of a set (an HPolytope in particular). I think one is proposed to go along with `AffineMap`, but just wanted to make sure none existed already (couldn't find any mention, so it's a safe bet...).
Obviously one can do the lazy `H ⊕ v ` or convert to vrep and translate that way, but I think it can be done very ea

[2019-02-26 09:37] tomerarnon opened #49 "Hyperrectangle linear_transformation"
@changliuliu
I am updating certain functions, `linear_transformation` among them. See:
https://github.com/sisl/NeuralVerification.jl/blob/84001f4cda486358ad7b0f92068f14c78dcd0224/src/utils/util.jl#L295

I am wondering if this function is technically incorrect. In general, a transformation of a hyperrectangle is not necessarily a hyperrectangle; what it's here doing is something like an over-approx

[2019-02-26 13:21] changliuliu commented on #49
It is an over-approximation. We compute the bounds for nodes after the linear map and ignore the dependency among these nodes. This function is called when we try to transfer node-wise bounds on the last layer to before activation node-wise bounds on the current layer.

[2019-02-26 13:21] changliuliu commented on #49
Maybe we can give it another name to avoid confusion.

[2019-02-26 16:48] mforets commented on #46
Yes, it's still on the waiting list..

Correct. To extend a function from other package just do `import LazySets.linear_map` etc (see [this table with the summary of module usage](https://docs.julialang.org/en/v1/manual/modules/index.html#Summary-of-module-usage-1)).

Not yet, sorry. The plan is to add types `Translation` ([#882](https://github.com/JuliaReach/LazySets.jl/issues/882)) and `AffineMa

[2019-02-26 21:59] tomerarnon commented on #49
Ok, in that case I will rename it. Is it the same sort of overapproximation we would get with e.g. `overapproximate(linear_map(L, H))`. I.e. by first computing the linear map and then taking the superscribing hyperrectangle?

[2019-02-26 22:23] tomerarnon commented on #46
👍 Everything I needed to know confirmed, thanks. I'll keep up with those changes whenever you get to them and update things here accordingly.

[2019-02-27 02:51] changliuliu commented on #49
Yes, they are the same. But I think overapproximate(linear_map(L, H)) is less efficient.

[2019-02-27 23:28] tomerarnon commented on #49
@mforets awesome!

@changliuliu I'll update to overapproximate(LinearMap(L, H)) which should now be the same as that function

[2019-03-02 08:53] tomerarnon opened #51 "zero_objective! not necessary"
I'm pretty sure solving a problem without specifying an objective simply solves a feasibility problem, so it should be equivalent to specifying @objective(m, Max, 0), which is what we do now.

[2019-03-02 16:31] changliuliu commented on #51
Yes. The purpose of having zero_objective! is just to make it more clear that we are solving a feasibility problem.

[2019-03-02 19:11] tomerarnon commented on #44
Most optimization and reachability algorithms call `tosimplehrep` on the output set, converting a polytope to `C, d` as in `Cx ≤ d`.
 It does not seem correct to do something like `-C, d` to get the complement. For a single halfspace it would work, naturally, but in general it is not correct (right?).

[2019-03-02 20:42] tomerarnon commented on #51
Ah, I see. In that case we can be even more explicit with something like `feasibility_problem!(model)`

[2019-03-02 20:51] mykelk commented on #51
Even better!

[2019-03-02 21:43] schillic commented on #44
A polytope is a conjunction of constraints, ⋀ᵢ cᵢ. The complement is ⋁ᵢ ¬cᵢ, - a disjunction of the complemented constraints, which is typically not a convex set anymore.

[2019-03-03 07:51] tomerarnon commented on #44
Having taken another look, the algorithms that _require_ complementary outputs and those that call `tosimplehrep` do not overlap, so for now we may simply have to limit the use `PolyotopeComplements` to work only on the algorithms that really need them. Since the complement of the complement of a PolytopeComlement (say that three times fast..) is convex, we don't need to limit ourselves to complem

[2019-03-03 13:34] tomerarnon commented on #44
`@constraint` requires `<=` or `>=`, i.e. does not allow `<, >` so the encoded complementary constraint is not strict. Does this affect soundness @changliuliu?

[2019-03-03 14:14] changliuliu commented on #44
This affects completeness instead of soundness. Essentially, the constraints for the complementary set is more conservative with >= or <= than > or <. We haven't mentioned this point in the paper. But the difference only lies on the boundary the constraint, e.g., where "=" holds.

[2019-03-03 15:05] tomerarnon commented on #44
In that case, `NSVerify, MIPVerify, Planet`, and `Reluplex` are affected by this, since ostensibly they should be complete.

[2019-03-03 15:09] changliuliu commented on #44
I will add a comment in the paper. Could you please also add a comment to the documentation?

We can say something like: NSVerify, MIPVerify, Planet, and Reluplex are complete w.r.t an ''open'' (instead of ''closed'') output set. Openness of the output set implies that its complement is closed, hence compatible with >= or <= constraints.

[2019-03-03 15:12] tomerarnon commented on #44
Hmm... In that case, using a `PolytopeComplement` preserves completeness, since the complement is necessarily open. It is actually in the case of `HalfSpace`/`HPolytopes` that we lose completeness

[2019-03-03 15:15] changliuliu commented on #44
Yes, this issue is not particular to ```PolytopeComplement```. It happens only because we cannot encode open constraints in ```add_complementary_set_constraints```. For ```HalfSpace```, we also included the boundary in the complement.

[2019-03-03 15:32] tomerarnon commented on #44
Hmm... Yes this is definitely worth discussing in the docs.

Since using `PolytopeComplement` actually ensures completeness, while other sets do not, would it be crazy to limit the allowed outputs to be only complements, even if one wanted, e.g. a halfspace, since encoding that directly would not be complete?

[2019-03-03 15:38] changliuliu commented on #44
That's actually a good idea. It also improves consistency. And we can say that ```PolytopeComplement``` is an open set by definition.

[2019-03-03 15:58] tomerarnon opened #53 ":Unknown should be :unknown"
`:Unknown` is an artifact of `:SAT/:UNSAT`. We should replace with `:unknown`

[2019-03-03 16:43] tomerarnon commented on #44
I'll add it.
We noted in #30 that Reluplex should be able to handle general hpolytopes rather than just halfspaces, and PolytopeComplements enables this. Is this true of the other solvers as well (I am creating a table in the docs)

[2019-03-03 16:55] changliuliu commented on #44
Yes, the idea of introducing PolytopeComplement to make the output set more general was originated from #30 . Then it also benefits other solvers (NSVerify, MIPVerify, ILP, Planet) that only encode the complement of the output set. Before we introduce PolytopeComplement, they can only take half space constraint since they require the complement of the constraint to be convex. Back then, the comple

[2019-03-03 17:57] tomerarnon commented on #44
I added some docs to #52. Would be good if you could review for accuracy/clarity.

[2019-03-03 20:27] tomerarnon opened #54 "Restrict input/output types for each solver"
As noted in #52 and other places, the allowed input/output set types for each solver is too general, and will lead to problems (in some cases already has).

The `iscompatible` method proposed there does not completely address the problem, since in some cases we want to promote, wrap, or approximate a set as another type before proceeding. Here is a proposal for doing that.

First, we (re)define `S

[2019-03-06 23:03] #44 closed

[2019-03-11 08:13] tomerarnon opened #55 "Certify unknown vs violated"
`Certify` currently cannot return `:violated`
[code]

Since `Certify` is not complete anyway, we should simply change `:unknown` to `:violated`, unless there is a truly `:violated` case to add as well.

[2019-03-11 17:50] changliuliu commented on #55
Let's return ```:violated``` for ```:unknown``` then.

[2019-03-12 06:31] #45 closed

[2019-03-12 06:31] #53 closed

[2019-03-12 06:32] #41 closed

[2019-03-12 06:35] tomerarnon commented on #32
I believe this was closed by #52, or earlier

[2019-03-12 06:35] #27 closed

[2019-03-12 06:37] tomerarnon commented on #24
I'd say we've got decent coverage. Incorporating a large network may cover a few more bits and pieces.

[2019-03-12 06:37] #24 closed

[2019-03-12 06:37] #25 closed

[2019-03-12 06:37] tomerarnon commented on #30
closed by #52

[2019-03-12 06:37] #30 closed

[2019-03-12 06:38] tomerarnon commented on #31
closed by #52

[2019-03-12 08:11] tomerarnon opened #57 "remove add_complementary_set_constraint"
Instead, define `add_set_constraint(::PolytopeComplement) = ...`.
At the call site this would be:

[code]

This does not conflict with either of the current definitions, since `add_complementary_set_constraint` for PCs calls `add_set_constraint` on their complement anyhow. See [constraints.jl](https://github.com/sisl/NeuralVerification.jl/blob/master/src/optimization/utils/constraints.jl#L246)

[2019-03-12 21:14] changliuliu commented on #57
Yes, this makes the code even cleaner.

[2019-03-26 05:02] tomerarnon opened #58 "magic constant in iLP"
iLP still has the magic constant 1e-4 in the greater/less than 0 comparison. We should find something more principled.

[2019-03-26 05:08] tomerarnon opened #59 "DLV performance cliff(?)"
Some time ago Chris mentioned a dive in performance when taking epsilon to be e.g. 1.0
We should investigate...

[2019-04-02 02:24] tomerarnon opened #60 "Update Documentation"
The documentation needs more attention. In particular, it would be great to pull in information from the paper on each of the algorithms including any figures, etc.

[2019-04-02 02:34] tomerarnon opened #61 "Algorithm rewrite"
Since the paper release, we noted a few places where the code can be enhanced for readability (integrating JuMP variable names, abstracting certain set operations, etc.)

[2019-04-02 02:50] tomerarnon opened #62 "PolytopeComplement outdated"
LazySets now has a `Complement` type that should replace `PC`.

[2019-06-14 00:36] tomerarnon opened #64 "NSVerify bug"
@clazarus reported an incorrect :holds with NSVerify (or some similar incorrect result).

[2019-06-14 00:38] tomerarnon opened #65 "MaxSens partition overapproximation"
MaxSens with partition size equal to the input length along a dimension provides a tighter approximation that with a partition size slightly smaller than that input dimension. This is probably because partition overapproximates at the boundaries or the interval, and shouldn't (I think we have brought this up before @changliuliu).

[2019-06-14 00:41] tomerarnon opened #66 "Windows compatibility"
Roadblocks:
 - CDDLib fails to compile
    - not in the CDDLib issues. Fix unknown.
 - PicoSAT can't compile
    - can disable Planet to fix.
    - can remove PicoSAT in favor of something else.
    - can figure out how to get PicoSAT to compile on windows an send PR to those folks (it's in their issues as well).

[2019-06-14 00:48] tomerarnon opened #67 "Dealing with disjunction of linear constraints"
Optimization based methods (those that take complements) work well for "exclusion zone" type properties but not as well when the property is f(X) \in Y for convex Y, because the complement leads to a disjunction of linear constraints.
To solve this type of problem one needs to solve N optimization problems (the number of constraints) and show that all are infeasible. At the moment the only place t

[2019-06-27 18:50] #65 closed

[2019-07-31 20:25] mforets commented on #9
Would you mind pointing to one or more particular instances that could not be handled with the current implementation?

[2019-08-05 15:37] tclayton0594 opened #68 "Defining PolytopeComplements For Regression Problem"
Hi,
I am an engineer at General Motors that just joined their Next Gen Controls group. A few members of my team had attended a conference where we were introduced to your tool (very interested in using) and now I am trying to use the algorithms you guys have provided on one of our own ANNs.

Wanted to first ask whether posting implementation problems on this page was appropriate? If not, I would t

[2019-08-05 15:43] mykelk commented on #68
Hi @tclayton0594, I'm glad you are using the tool! This is definitely the right place to post implementation questions and issues. I'll let @tomerarnon answer your question.

[2019-08-05 15:44] mykelk commented on #20
@tomerarnon is this addressed?

[2019-08-05 19:27] tomerarnon commented on #20
Yes, it should have been fixed when we updated our use of JuMP.

[2019-08-05 19:27] #20 closed

[2019-08-05 19:35] tomerarnon commented on #68
Hi @tclayton0594, if your output set is simply an interval (as in, a ≤ y ≤ b), then it should not be represented as a `PolytopeComplement`. We tend to represent those kinds of sets as `Hyperrectangle`s (which can be defined with `Hyperrectangle(low = a, high = b)`). Which solver/s are you trying to use?

[2019-08-05 20:05] tomerarnon commented on #9
Hi @mforets! As you can see, this issue has been neglected for quite a while. I'll come up with an example for you if I still can. As I recall, it was directly to do with the dimensionality of the conversion: https://github.com/JuliaPolyhedra/CDDLib.jl/issues/34, but we never took the "lazier" approach in this library (still meaning to) like the one you developed in https://github.com/JuliaReach/L

[2019-08-05 21:03] mforets commented on #9
Hi @tomerarnon, thanks for the reply. Last week while visiting @schillic at IST Austria, we spent some time thinking about how to avoid the conversion from hrep to vrep completely, and we came up with a variation of AI2 using template polyhedra and implemented it. We also tried the ideas proposed earlier in the LazySets issue you mentioned (exploit lazy intersection operations), and also a new laz

[2019-08-05 21:47] tomerarnon commented on #9
Wow, the stuff you guys have been up to in recent months is really cool!

tagging @clazarus for any insights into those files beyond what I know. I know that in runtime1.jl which deals with Ai2 and ExactReach, the mnist tests certainly time out (I don't recall how many hours the termination condition was).

[2019-08-06 12:00] tclayton0594 commented on #68
Thanks for the response @tomerarnon. I was trying to get outputs for as many solvers I could and then build a report of my results. We are trying to identify ways we can use the tool to validate our ANNs.

I was trying to use the primal optimization solvers (NSVerify, MIPVerify, ILP) as well as Reluplex, but I kept getting errors when trying to represent the output set as an interval. Would these

[2019-08-07 23:57] tomerarnon commented on #68
As you point out, optimization based solvers are not well suited to work with convex output constraints (such as intervals). The reason for this has to do with how linear programs are represented and solved (linear programming underlies all of the optimization methods). Instead, the optimization methods require output constraints that are the complement to a convex set. E.g. the complement of Unio

[2019-08-09 14:54] tclayton0594 commented on #68
Ok makes sense. Thank you for the clarification!

[2019-08-09 14:54] #68 closed

[2019-08-12 12:55] tclayton0594 commented on #42
Hi, I would like to follow up this post. I too have run into issues with running out of memory when using MaxSens. My network is smaller than NNs that you all tested the solver with (3 hidden layers with 30 neurons each). I know in the paper it was mentioned that large input/output dimensions could cause large memory usage, but my input dimension is only 5 as well.

What were the specs on the comp

[2019-08-12 13:31] tclayton0594 commented on #64
Hi, is this still a concern for NSVerify and potentially other "complete" solvers? I have recently used your solvers on a NN with 3 hidden layers and 30 neurons per layer and got helpful results. However, I noticed that some solvers listed as "complete" gave incorrect answers. In particular, Reluval and Reluplex gave incorrect results. Reluval gave a counter example violation, which happened to be

[2019-08-13 03:43] tomerarnon commented on #64
Hi @tclayton0594, I haven't replicated that particular erroneous result and maybe @clazarus can say more at the moment. I'll look into it soon to figure out the cause of the issue (I suspect it's numerical instability, but I didn't personally see the problem).

[2019-08-13 03:44] tomerarnon commented on #42
@tclayton0594, what was the resolution you ran MaxSens with?

[2019-08-13 04:16] tomerarnon opened #69 "Security warning due to examples env requirements (TensorFlow)"
@clazarus is there any way to get around this? It's due to TensorFlow (and maybe other requirements) being a dependency of the examples.

[2019-08-13 09:13] rejuvyesh commented on #69
You can likely just remove the versions in https://github.com/sisl/NeuralVerification.jl/blob/master/examples/cars_workshop/requirements.txt

[2019-08-13 13:45] tclayton0594 commented on #42
@tomerarnon I tried resolutions as low as 0.01 and as high as 100

[2019-08-13 13:55] tclayton0594 commented on #64
Ok I thought ReluVal was complete due to the chart in your paper, but it was actually the opposite. ReluVal gave an invalid counter example. I will open up another discussion with as much info and screenshots as I can, but I do work for General Motors and the NN we are trying to verify is for future production.

[2019-08-13 14:34] tclayton0594 opened #70 "Inconsistent Results from NSVerify, ReluVal, Reluplex"
Hi, I am opening this new issue as a follow-up discussion I had with @tomerarnon. It was brought to my attention that ReluVal may not be a complete solver, but to my knowledge NSVerify and Reluplex should be. For the input set, I defined upper and lower bound arrays for my 5-D input and then formed a hyperrectangle polytope. For the output set, I made 2 seperate: 1 for ReluVal and the other for NS

[2019-08-13 14:43] mykelk commented on #64
@changliuliu and @kjulian3 are likely to have some comments on this.

[2019-08-13 19:28] tomerarnon commented on #69
Thanks @rejuvyesh! Just removing the version should take care of it?

[2019-08-14 07:57] rejuvyesh commented on #69
Yeah. Removing version requirements means that you allow for the latest versions that have the latest security features. For most things latest versions should not be an issue. But you can keep version requirements for individual packages that you need specific versions of.

[2019-08-14 23:36] tomerarnon commented on #70
Thanks for this @tclayton0594, I'm looking into it. Without your network I cannot reproduce this exactly. You can email me it if you'd like to (and indeed can) share it privately. At the moment I am just trying to determine what could have led to this failure path for each of the algorithms to help debug.

First I should note that what I said about reluval in #64 was wrong. Reluval is complete but

[2019-08-15 15:15] tclayton0594 commented on #70
Thanks, @tomerarnon for taking your time to verify. I am also verifying on my end as I was unaware that MATLAB did data manipulation by default, which may be the reason. Crazy your solvers were able to still find valid counter examples but within the next few hours I will have verified the results. Sorry for any confusion.

[2019-08-16 11:14] tclayton0594 commented on #70
I did verify the .nnet structure and still getting inconsistent results. I will continue to validate on my end since we would really like using some of your guys solver for verification of NNs for production if at all possible.

[2019-08-19 00:52] changliuliu commented on #64
If we allow ReluVal to run until convergence (set max_iter to infinity), then it is complete. In the paper, we classify it to be complete under the assumption that 1) there is no constraint on the number of iterations it can take and 2) ReluVal should always terminate in finite steps (this is claimed by the ReluVal authors).

[2019-08-21 01:06] tomerarnon commented on #70
Hi @tclayton0594, I wanted to follow up regarding whether you are able to share your network with us. Like I said, it's hard to follow the failure path without reproducing it. You can also reach me at tarnon@stanford.edu

[2019-09-03 23:16] tomerarnon commented on #70
Hi @tclayton0594, no worries for the delay. I think I've just managed to recreate the Reluplex bug that you're seeing with my own network. I'll pursue the matter and get back to you. If you put together a sharable network still, I would really want to test with it as well.

As for numerical instability warnings from JuMP: unfortunately, there is no way to determine unequivocally whether the result

[2019-09-13 07:18] tomerarnon opened #71 "JuMP return code mishandling leading to inconsistency"
I think the cause of #70 is that we're mishandling some `JuMP` return codes. We test for `OPTIMAL` and `INFEASIBLE`, but we are sometimes also seeing `INFEASIBLE_OR_UNBOUNDED`.

First we should consider whether any of the objectives we use can ever by unbounded in the first place. If not, we can always treat the problems as infeasible in these cases. If it _is_ possible, then we need to consider w

[2019-09-13 21:57] tomerarnon commented on #71
Upon second review, here's what I've come up with:

DLV, iLP, MIPVerify use `max_disturbance!`, which minimizes the infinity norm, and is therefore naturally bounded. MIPVerify, which _was_ affected by this bug, was affected because it was explicitly testing `INFEASIBLE`. If it had explicitly tested `OPTIMAL` instead, it would have been safe. This is a simple change to make in these three cases.

[2019-09-18 02:14] changliuliu commented on #71
In those unbounded cases, is it always positive NaN? Is it possible to have negative NaN? If the signs of the NaN is correct, we may still be able to use those unbounded results, i.e., to check inequality constraints.

In addition, one way to get around of this boundness problem is to always require the input space to be bounded (or manually set a big enough bound).

[2019-09-18 02:45] tomerarnon commented on #71
We can't get information from the NaN itself since `-NaN ==  NaN`, but we should always be able to know whether a particular problem is unbounded below or above by its definition (Min/Max).

I'll try and think through how this will work.

For reference, examples of potentially unbounded objectives:

 Sherlock:
[code]

Bab:
[code]

Planet is maybe the most complicated. Here is one instance from `ti

[2019-09-18 02:57] changliuliu commented on #71
We only have halfspace constraints on the output side. And we only need to bound the input space for the three solvers you mentioned above to make the problem bounded. Actually, all three solvers take hyper-rectangle inputs which are already bounded. In theory, there shouldn't be any unbounded output. Did we really observe any failure case for these three solvers?

[2019-09-18 04:46] tomerarnon commented on #71
Yes, I suppose that's true at the moment. We can definitely use this fact to patch this up.
But we have discussed relaxing some restrictions as time goes on (do these algorithms require bounded inputs intrinsically or can that requirement be removed eventually?).

Nope, we don't have a confirmed failure for these solvers, only noted that they're vulnerable. The only failure I'm certain of is Relup

[2019-09-18 04:50] mykelk commented on #71
Just a quick note of correction: `NaN != NaN` and `NaN != -NaN`.

[2019-09-18 04:52] tomerarnon commented on #71
True, thanks for the correction!

[2019-09-20 01:47] MaximeBouton commented on #66
It should be fixed once this is merged: jakebolewski/PicoSAT.jl#14 and a new version of PicoSAT.jl is released.

[CDDLib.jl](https://github.com/JuliaPolyhedra/CDDLib.jl) seems to be using BinaryBuilder and work cross-platform already.

[2019-09-20 05:09] tomerarnon commented on #66
Thanks @MaximeBouton! This is great, and I'll check out CDDLib.jl again as well. A lot has changed since this issue was opened, which is great to see.

[2019-10-02 02:07] #69 closed

[2019-10-03 06:58] AvrahamRaviv opened #75 "Hyperrectangle not defined"
Hi
I tried to run your example, but tackled by this error:
julia> input_set  = Hyperrectangle(low = [-1.0], high = [1.0])
ERROR: UndefVarError: Hyperrectangle not defined
Stacktrace:
 [1] top-level scope at REPL[11]:1

all the earlier steps were good.

Does anyone know this issue?
thanks

[2019-10-03 07:27] tomerarnon commented on #75
Try: `using LazySets`

[2019-10-03 09:39] AvrahamRaviv commented on #75
thanks!
seems it's ok now.

[2019-10-03 18:32] tclayton0594 commented on #70
@tomerarnon , I got pulled onto another project that had a deadline of the 1st of the month but I am able to work on this again. I had another network I wanted to validate but I was running into the issue with ReluVal spitting out the midpoint as a counter example for many intervals, when in fact they were not counter examples. I am going to try and replicate the error on a dummy network. I had di

[2019-10-03 18:59] #75 closed

[2019-10-04 13:22] tclayton0594 commented on #70
@tomerarnon thanks for looking further into the Reluplex bug. I found that the error with Reluval was actually on my end. I have been able to get consistent, valid results recently so no issue there.

[2019-10-17 11:58] mforets commented on #66
CDDLib devs have fixed Windows build and added AppVeyor for CI in Windows, see the latest CDDLib [release v0.5.3](https://github.com/JuliaPolyhedra/CDDLib.jl/releases/tag/v0.5.3).

[2019-10-29 04:50] #28 closed

[2019-11-05 07:49] #66 closed

[2019-11-11 03:10] tomerarnon opened #80 "Constraints on Certify"
(Note: not relevant for the paper!)

https://github.com/sisl/NeuralVerification.jl/blob/95582fc975512b39ead9a8df4a8a229f3bf8a4e1/src/optimization/certify.jl#L33-L51

@changliuliu, I want to be sure the constraints imposed on `Certify` are accurate. In the docstring, we say: "Network: one hidden layer, any activation that is differentiable almost everywhere whose derivative is bound by 0 and 1" but

[2019-11-11 05:08] changliuliu commented on #80
It does not assume scalar output layer.

The ```output``` in the code is actually the cost value c*y - d. See line 43. It essentially adds another linear layer after the original network and maps the output of the network to a scalar value.

[2019-11-11 06:50] tomerarnon commented on #80
Ah I see. Since it's limited to halfspace output constraints, _this_ is where it becomes a scalar. Ok, excellent! I was doing a pass through algorithms that developed an error after a package update and caught that spot that looked suspicious. Nothing to see here apparently!

[2019-11-11 06:50] #80 closed

[2020-01-31 04:24] chelseas commented on #67
You can represent this disjunction of N linear constraints using a ReLU or max piecewise linear disjunction. E.g. if you want x in [a,b] and then you need to certify that x < a | x > b is unsatisfiable, you can create new variables y = a - x and z = x - b. Both y and z should be <=0 if the problem is "in bounds" so the algo should search for solutions where either is >0, which you can write as max

[2020-02-05 08:29] tomerarnon opened #82 "Applying layer-bounds in reluplex leads to false :holds"
-- update --
Actually for this other simple network, `tight = false` doesn't solve the problem:
[code]
However, this is still definitely a bounds issue since completely removing the layer-bounds from reluplex leads to the correct result.

It isn't clear whether the bound calculation is intrinsically wrong somehow, or that its usage isn't quite correct; still needs to be explored.

-- original issu

[2020-02-10 15:43] mforets opened #83 "Inconsistent bounds in Planet"
If you try run the test script for `identity_network.jl` checking the construction of hyperrectangles in the function `tighten_bounds` and showing the data in case of failure, like this,

[code]
The result is
[code]
Hence LazySets refuses to create an hyperrectangle given these bounds (for reference, we added this consistency check in the inner constructor in [v1.16.0](https://github.com/JuliaReac

[2020-02-14 01:45] Student2Pro opened #85 "which pkg Ai2 rely on ?"
I'm a university student studying math and I'm trying to find a way to improve Ai2, and I could really use some help with this pkg. I'd like to know which Pkg I don't need when I focus on Ai2.
![图片](https://user-images.githubusercontent.com/59324381/74499008-611a9780-4f1d-11ea-9d1f-d7d5c1bfbeca.png)

[2020-02-14 01:52] Student2Pro commented on #85
the nnet path is right, I delete unnecessary part of this pkg because PicoSAT(if I remember right) dosen't work on windows and I hope that by doing it the code would run faster.
![图片](https://user-images.githubusercontent.com/59324381/74494323-ac2dae00-4f0f-11ea-97e5-99d33724e8c4.png)

[2020-02-14 09:13] tomerarnon commented on #85
Hi @Student2Pro, I'm not sure why exactly your original error was happening. It's probably because our package hasn't kept up with changes in our dependencies. If you'd like help tracking down which dependency needs downgrading, and to which version, I'm happy to help.

If you're hacking up NV.jl for the purposes of focusing only on Ai2, you can throw out JuMP, GLPK, SCS, and PicoSAT. You can also

[2020-02-14 09:34] mforets commented on #85
Hi @Student2Pro and @tomerarnon,

I'm interested to help implementing AI2 using zonotopes. I'm beginning to work with student @SebastianGuadalupe in this regard, who has been doing Zonotope and Parallelotope related stuff with us in LazySets lately. He will also possibly apply for [GSOC](https://summerofcode.withgoogle.com/). There are several things to do. I would suggest at some point to coordin

[2020-02-14 20:49] tomerarnon commented on #85
True. If you're making edits incrementally and reloading the package each time (and therefore paying the price of precomplication each time), look into using Revise.jl instead!

Awesome to hear! From 0 to 2 interested parties within a day 😄
The idea is relatively straightforward. Right now Ai2 relies on two core methods, `forward_partition` and `convex_hull`.

- `forward_partition` returns a vecto

[2020-02-15 01:02] Student2Pro commented on #85
Glad to hear from you @tomerarnon @mforets and thanks for your advices.

I change the input from [-1.0, 1.0] to [-0.9, 0.9] and it worked and I got the correct result. Although I don't understand why. Maybe I made mistakes that I didn't realize. As for zonotopes, honestly I only know it's better than polytopes.

This is really helpful, appreciate it.

I haven't complete my code yet, but I can tell

[2020-02-15 01:02] #85 closed

[2020-02-15 03:02] Student2Pro opened #86 "Pkg dependencies problem"
Thanks to @tomerarnon @mforets my code pass test on my laptop but print this warning:
![图片](https://user-images.githubusercontent.com/59324381/74580532-2f1e3980-4fe0-11ea-94a2-051ce34eafcc.png)
what does that mean and what should I do to fix it?
![图片](https://user-images.githubusercontent.com/59324381/74580758-950bc080-4fe2-11ea-9cc0-67c887294c02.png)

[2020-02-15 20:21] mforets commented on #86
The source of the warning (you can ignore it while you develop..) is in the `Project.toml` file,

the file https://github.com/Student2Pro/NVtest.jl/blob/master/Project.toml should include the dependencies.

Regarding package development in general, you may find useful to [read the documentation](https://julialang.github.io/Pkg.jl/v1/toml-files/) or watch some tutorials (eg. [this one](https://www.

[2020-02-15 20:29] mforets opened #87 "Implement AI2 using zonotopes"
The idea is relatively straightforward. Right now Ai2 relies on two core methods, `forward_partition` and `convex_hull`.

- `forward_partition` returns a vector containing the input set "rectified" (relu-ed) with respect to the axes. For HPolytopes, this is a simple intersection with a linear constraint. (LazySets has added the lazy Rectification, which may be able to serve as a stand-in for that

[2020-02-15 20:48] mforets commented on #85
Thanks for your write-up! I have outsourced them to a separate issue ([#87](https://github.com/sisl/NeuralVerification.jl/issues/87)).

Affine transformations for polytopes in constraint representation are efficient only if the matrix is invertible; otherwise, the computational complexity is exponential in the dimension `n`, while for zonotopes, that operation is cheap (cheap as matrix-vector mult

[2020-02-16 04:15] Student2Pro commented on #86
This is awkward. It is my mistake. I thought ‘using LazySets' means dependencies between my project and LazySets. I was too reckless to start without fully understanding of Julia Pkg developement. Thanks for the documentation and your patience.

[2020-02-16 04:15] #86 closed

[2020-02-18 05:44] tomerarnon commented on #83
Hi @mforets, thanks for opening this issue as a follow up to you pr!
@changliuliu and I have taken and look at this and it turned out that any bounds where `lower > upper` indicate the problem is infeasible. However, patching this by making `lower <= upper` a strict requirement (may have) revealed another issue that went unnoticed, so I can't yet push it as a fix. We're looking into that currently

[2020-02-18 17:45] mforets commented on #83
Alright, thanks for taking a look!

[2020-02-26 08:31] tomerarnon opened #90 "comparison tolerance in reluplex [and other algorithms]"
@castrong brought this issue up, which may be impacting his results.

See e.g., the following two lines in reluplex, and in particular the comparisons with 0

[code]

Due to the precision of the underlying solvers, sometimes numbers on the order of 1e-10 can be returned, and should probably be considered zeros. We can address this is by introducing a tolerance:
[code]
This is just one example; oth

[2020-02-26 21:17] mykelk commented on #90
I'm okay with this. These numerical issues are pretty tricky.

[2020-02-27 23:09] ksilken commented on #41
I'm trying to use NeuralVerification but I've run into a few problems

`julia> using NeuralVerification
[ Info: Precompiling NeuralVerification [146f25fa-00e7-11e9-3ae5-fdbac6e12fa7]
ERROR: LoadError: CDDLib not properly installed. Please run Pkg.build("CDDLib")
Stacktrace:
 [1] error(::String) at ./error.jl:33
 [2] top-level scope at /Users/KevinSilken/.julia/packages/CDDLib/bKo5p/src/CDDLib.jl:1

[2020-02-28 07:13] tomerarnon commented on #41
Unfortunately, I don't have anything up my sleeve. I just tried adding and building `CDDLib` in a fresh julia 1.3 and was able to do it successfully. Then, I tried doing the same with `Homebrew` and failed (differently from you though). But I don't know why buildling `CDDLib` worked for me and not for you, nor why either of our homebrews are failing.

I'm not sure which of those packages would be

[2020-02-28 07:33] ksilken commented on #41
Maybe... But I'll take your advice and reach out to both.

[2020-02-28 07:57] tomerarnon commented on #41
Sorry I couldn't be of more help. Please let me know if you find the solution!

[2020-03-02 22:17] mforets commented on #83
Hi, do you happen to have any updates on this issue? Here is a small one: [LazySets v1.31.0](https://github.com/JuliaReach/LazySets.jl/releases/tag/v1.31.0) adds an option to the hyperrectangle constructor, so `Hyperrectangle(low = lower[i], high = upper[i], check_bounds=false)` can be used to ignore the bounds check, in case you still consider this as a temporary workaround for this algorithm. Th

[2020-03-16 13:54] AvrahamRaviv opened #91 "run examples"

[2020-03-17 19:26] castrong commented on #90
I wonder if Julia's ≈ (equivalent to [Base.isapprox](https://docs.julialang.org/en/v1/base/math/#Mathematical-Functions-1) with default arguments) operator could be helpful? It does some sort of approximate equality using tolerances - I don't know if there's an equivalent built in function for comparisons.

[2020-03-17 19:43] mforets commented on #90
Since this library uses LazySets, I would suggest that you control tolerance with `LazySets.Tolerance`, documented [here](https://juliareach.github.io/LazySets.jl/dev/lib/comparisons/#LazySets.Tolerance) and the default values are implemented [here](https://github.com/JuliaReach/LazySets.jl/blob/master/src/Utils/comparisons.jl#L55). In particular you can *globally* control the tolerance for set op

[2020-03-18 00:02] tomerarnon commented on #90
Thanks for the tip on this @mforets ! I like the idea of being able to set a global tolerance (per solver maybe) and keep comparisons with literal zeros in the code.

[2020-03-24 08:08] Student2Pro opened #94 "function partition in maxSens.jl need to be fixed"
This is the current implementation:
it would err when partition hyperrectangles in space more than 2 dim, Cuboids for example.
[code]
I think these two sentences dosen't make sense:
[code]
And it could be fixed like this: (probably not the best solution)
[code]
Another issue is that it could be better using BigInt than Int64 to store the number of hyperrectangles because the test on mnist1 in runt

[2020-03-25 02:39] tomerarnon commented on #94
Thanks for pointing this out @Student2Pro! Your fix does indeed prevent an occasional negative radius from appearing (and maybe other nasty stuff as well 😬).

I've never been quite satisfied with that function, and this made me look deeper into it. Essentially, we are assigning each "cell" in the input its own HR (all of equal size). Any that extend beyond the original boundary are truncated. This

[2020-03-25 03:32] Student2Pro commented on #94
@tomerarnon The new code doesn't change the way to compute CartesianIndices, right? In my opinion, the way you compute CartesianIndices is correct in 2 dim, but in higher dim it is not. You can try to partiton a cube with delta equal to it's radius, it should return 8 little cubes, otherwise the function would be wrong.

[2020-03-25 03:49] tomerarnon commented on #94
I think the method works with arbitrary dimensionality:

[code]

[2020-03-25 04:38] Student2Pro commented on #94
https://github.com/sisl/NeuralVerification.jl/blob/ac4eea2d30db3590ee5f03b471682706b6aeb491/test/runtime1.jl#L72

From this line to

https://github.com/sisl/NeuralVerification.jl/blob/ac4eea2d30db3590ee5f03b471682706b6aeb491/test/runtime1.jl#L205

It should be, but it's beyond my laptop so all I got is 0. As for the new code, I must misunderstand something, you're right.

[2020-03-25 08:29] tomerarnon commented on #94
Forwarding the question on runtime1.jl to @clazarus

[2020-03-30 22:34] #91 closed

[2020-05-04 08:05] AvrahamRaviv opened #96 "Reluplex and wrong counterexample"
Hi all,
I ran the code you demonstrated in this link (image classification.ipynb):
https://github.com/sisl/NeuralVerification.jl/blob/master/examples/cars_workshop/5%20image%20classification.ipynb
and I changed the constraint from:
A = [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1.0, 0.0]'
to:
A = [0.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]'
That is, I am looking for digit 8 that the network

[2020-05-25 08:45] AvrahamRaviv opened #97 "Change Time-Out"
Hi
In the main article, part 10.2 Results, is written that "Timed-out threshold is set to be 24 hours".
How can I change the time out from 24 hours to a few minutes?
Thanks

[2020-05-26 08:11] AviadSlo opened #98 "NV.jl overwritten JuMP"
I upgrade my JuMP.jl and than got the following warning:

julia> using NeuralVerification

module NeuralVerification at C:\Users\user\.julia\packages\NeuralVerification\fHqlR\src\NeuralVerification.jl:22.
  ** incremental compilation may be fatally broken for this module **

well, it's still just a warning, but later I got the following error:

│ `with_optimizer(Ipopt.Optimizer)` becomes `Ipopt.Op

[2020-06-26 00:45] #83 closed

[2020-06-26 00:50] changliuliu commented on #83
The bug was with tighten_bounds in Planet. What tighten_bounds do is to encode the whole network using triangle relaxation, then minimize or maximize the summation over all nodes to find their bounds. This formulation of tighten_bound is problematic.

By minimizing or maximizing the summation over all nodes, it is not guaranteed to find corresponding lower or upper bounds for all nodes. Consider a

[2020-07-06 16:10] #96 closed

[2020-07-09 00:41] castrong opened #107 "Inconsistent Results between Reluplex and NSVerify"
I'm seeing an inconsistent results between Reluplex and NSVerify, both complete solvers, on the same problem. I believe that NSVerify is correct since the counter-example it returns back is a valid counterexample (shown in the code below). Code is below, with the .nnet file given at the bottom. To replicate this issue copy the network into a file and set the filename in the first line to point to

[2020-07-09 00:56] castrong opened #108 "Error in ConvDual"
I get the following error + stacktrace when trying to run ConvDual on a small network:

ERROR: LoadError: BoundsError: attempt to access 4-element Array{Float64,1} at index [5]
Stacktrace:
 [1] getindex at ./array.jl:728 [inlined]
 [2] all_neg_pos_sums(::Array{Float64,1}, ::Array{Array{Float64,1},1}, ::Array{Array{Array{Float64,1},1},1}, ::Int64) at /Users/cstrong/Desktop/Stanford/Research/NV_Fork

[2020-07-09 03:40] castrong opened #109 "ConvDual and FastLip should take HalfSpace output sets"
I would expect from the survey paper that ConvDual and FastLip can handle HalfSpace output sets. However, they each give errors when given a HalfSpace as an output set, although for different reasons. ConvDual expects a HPolytope as input, as seen in the function definition `function dual_value(solver::ConvDual, network::Network, input::Hyperrectangle{N}, output::HPolytope{N}) where N
`. The error

[2020-07-09 03:50] castrong opened #110 "BaB gets stuck on an example problem"
BaB appears to run forever when trying to solve a problem on a relatively small network. The network has layer sizes [1, 10, 4, 1], so there are only 16 nodes total. I ran it for several hours with no resolution, and a println inside the loop in the `output_bound` function in BaB.jl showed that `global_approx - global_concrete` was remaining constant. An issue with reluplex I saw before came from

[2020-07-09 04:43] castrong opened #111 "MIPVerify and Sherlock lower bound larger than upper bound failed assertion on simple network"
With a simple network ([1, 3, 1]) I get an error when trying to run MIPVerify and Sherlock. I get the following error and stack trace for **MIPVerify**:

Assertion failed: q->lb < q->ub
Error detected in file draft/glpnpp03.c at line 669
ERROR: LoadError: GLPK.GLPKError("invalid GLPK.Prob")
Stacktrace:
 [1] _prob at /Users/cstrong/.julia/packages/GLPK/lOaTT/src/GLPK_checks.jl:68 [inlined]
 [2] mac

[2020-07-09 06:13] castrong opened #112 "Inconsistent Results between MIPVerify and NSVerify"
On the same problem I get a different result from MIPVerify and NSVerify, both of which should be complete. MIPVerify also is inconsistent with ILP, Planet, and Reluplex on some so I suspect that MIPVerify is the issue.

[code]

Leads to an output of:
AdversarialResult(:violated, 0.753269953515554)
CounterExampleResult(:holds, Float64[])

Network:

//Neural Network File Format by Kyle Julian, Stan

[2020-07-09 06:22] castrong opened #113 "Sherlock LoadError on small network"
I get the following error and stack trace when running Sherlock with epsilon = 0.5 on a small example:

ERROR: LoadError: MethodError: Cannot `convert` an object of type Hyperrectangle{Float64} to an object of type Array{#s13,1} where #s13<:AbstractPolytope
Closest candidates are:
  convert(::Type{T<:Array}, ::AbstractArray) where T<:Array at array.jl:474
  convert(::Type{T<:AbstractArray}, ::T<:A

[2020-07-09 06:34] AvrahamRaviv commented on #107
Hi
I'd tackled the same problem.
Since NSVerify returns a counterexample, it should be a bug in Reluplex's implementation.
BTW I've cases that Reluplex returns a counterexample but NSVerify returns hold.
If you find an answer for this Inconsistent - let me know, please.

[2020-07-09 06:53] castrong opened #114 "ExactReach stuck in translate"
ExactReach seems to get stuck in the function call:

`translate(v::Vector, V::AbstractPolytope) = tohrep(VPolytope([x+v for x in vertices_list(V)]))`.

vertices_list(V) has a length of 16 so I wouldn't have expected this to be too costly of an operation. Perhaps I'm misunderstanding it though and it will take a very long time to perform.

Code to reproduce is:

[code]

With network:

//Neural Netw

[2020-07-09 07:14] castrong commented on #107
Will do - do you still have access to those examples where Reluplex returns a counterexample but NSVerify returns hold? If so would you be able to share such an example?

Thanks!

[2020-07-09 07:25] AvrahamRaviv commented on #107
Sure I still have those examples.
Can you send me an email, please? then ill send you the materials
Avrahamsapir1@gmail.com

[2020-07-09 08:27] AvrahamRaviv commented on #107
Sorry, my bad, all of my Inconsistent examples are while NSVerify returns a counterexample and Reluplex returns hold.

[2020-07-09 10:50] #94 closed

[2020-07-10 01:50] changliuliu commented on #109
It seems we need to better type converter between HalfSpace and HPolytope. @tomerarnon, any thoughts?

[2020-07-10 18:33] tomerarnon commented on #109
Maybe that conversion used to be legal, and while we could technically patch it up with `HPolytope([halfspace])` – actually, `ConvDual` should only handle `HalfSpace` output constraints anyhow. We should therefore rewrite `dual_value` and the corresponding line in `FastLip` to handle exclusively halfspaces instead.

[2020-07-12 21:46] #110 closed

[2020-07-12 21:49] changliuliu commented on #110
The problem was that BaB kept splitting the first input domain since it is not deleted from the queue. This issue has been addressed in this [commit](https://github.com/sisl/NeuralVerification.jl/commit/a2fff4c617185e6cd6d64bb275a1d26c54a051f2)

[2020-07-12 21:52] AvrahamRaviv commented on #107
Does anyone have any idea?
Thanks

[2020-07-12 22:03] #113 closed

[2020-07-13 00:31] #112 closed

[2020-07-13 00:39] changliuliu commented on #112
The problem here is that although we encode the network as linear constraints using the bounds (computed from the input set), we didn't explicitly enforce the input constraint. Hence if a solution gets outside the input constraint, the encoding can be wrong. In the above example, we have the following results:
[code]

The neurons in the optimization clearly violates the bounds that are used to enc

[2020-07-13 13:33] SebastianGuadalupe commented on #87
Hello! I implemented this in a fork for my JSoC. I plan to contribute the new algorithm here soon!
Here is a link to a blog showing the implementation:
https://nextjournal.com/sguadalupe/week-2

[2020-07-13 14:35] tomerarnon commented on #107
@AvrahamRaviv could you check if your problem persists on master? I believe there may have a been a bug fix in Reluplex that hasn't made its way into a tagged release yet.

@castrong you may or may not have tested this on master already? As the one who patched that original bug, have you seen anything suspicious that could lead to this?

[2020-07-13 14:39] AvrahamRaviv commented on #107
Hi @tomerarnon
thanks for your answer. Due to[ 98#](https://github.com/sisl/NeuralVerification.jl/issues/98), I couldn't rebase to master.
I'll try to rebase asap and let you know.

[2020-07-13 14:48] tomerarnon commented on #98
This issue will be resolved soon. In the short term, you can pin your JuMP to an 0.20 version (0.20.1 is the one in the Manifest) which should work for now.

[2020-07-13 17:48] castrong commented on #107
I've just replicated on master (vs. the branch where I had originally found it) and am looking into it more deeply now. I'll let you know if I find something suspicious.

[2020-07-13 17:59] AvrahamRaviv commented on #107
@tomerarnon I've rebased to master and still got inconsistent results.
![image](https://user-images.githubusercontent.com/56107590/87336808-1c863d00-c54b-11ea-9e52-15d665c12dfe.png)

[2020-07-13 18:12] castrong commented on #107
@AvrahamRaviv  can you try replacing the encode function in Reluplex with the following? This works on my end (the bounds are currently incorrectly being applied to the pre-activation instead of the post-activation values).

[code]

[2020-07-13 20:01] AvrahamRaviv commented on #107
@castrong Well, I have 9 nets. Before your change:
NSVerify - 7 counterexamples and 2 holds,
Reluplex - 4 counterexamples and 5 holds.
Now, after your change, Reluplex returns a counterexample for all 9 nets, then I've 2 cases that Reluplex return violated and NSVerify return hold.
Still inconsistency, but from the other side.
Avraham

[2020-07-14 17:42] changliuliu commented on #111
After [this commit](https://github.com/sisl/NeuralVerification.jl/commit/4ff2a26a1b058033307d8652a2c24aa7a0b5ba77), I don't see any error for MIPVerify.

[2020-07-14 18:50] AvrahamRaviv commented on #107
Hi.
One can find my "problematic" nets [here](https://drive.google.com/drive/folders/1uL1ONmoBy5zdgQa_HlSJFc1rvxAZBrhE).
The code is the same to [ImageClassification.ipynb](https://github.com/sisl/NeuralVerification.jl/blob/master/examples/cars_workshop/5%20image%20classification.ipynb)
As I said, after @castrong patch, Reluplex return a counterexample for both bets and NSVerify return holds.

[2020-07-14 20:09] #55 closed

[2020-07-14 20:36] tomerarnon commented on #107
Thanks @AvrahamRaviv, we'll look into it with those networks!

[2020-07-14 21:20] castrong commented on #107
I replicated locally and then tried with a larger big-M value for NSVerify and that seemed to fix it. @AvrahamRaviv can you see if that fixes it for you? I tried `NSVerify(m=10000)` instead of `NSVerify(m=100)`. The MIP encoding used in NSVerify will become incorrect if the m value isn't larger than any possible activation in the network.

[2020-07-14 21:26] castrong opened #118 "Should NSVerify warn if big-M value is too small?"
In issue #107  @AvrahamRaviv brought up an example where m = 100 led to a false hold result with NSVerify. With a larger m value the solver worked. Problematic networks are given [here](https://drive.google.com/drive/folders/1uL1ONmoBy5zdgQa_HlSJFc1rvxAZBrhE) and code to replicate the issue is shown below:

[code]

Should there be some warning in cases where it's possible if the big-M value chosen

[2020-07-14 21:47] AvrahamRaviv commented on #107
@castrong your comment actually fixed my problem!
Just let you know that I not used m=100 but set the default m (m=1000) and got holds. With 10000 NSVerify return a counterexample, as you said.
Thanks!

[2020-07-15 02:24] castrong commented on #107
Okay great to hear!

[2020-07-15 07:39] #107 closed

[2020-07-16 11:52] tomerarnon commented on #118
We can arbitrarily make big M bigger following this, or indeed detect if a given value of M is too low (by comparing it to the variable values after optimization I suppose). I think we can also set M automatically by first computing the layer-wise bounds. Something like the largest radius value in the bounds + epsilon should be "sufficiently large". I think M just needs to be larger than any other

[2020-07-16 13:13] changliuliu commented on #118
Makes sense. The original version of NSVerify didn't provide an approach to determine M. But we can set M to be bigger than the absolute value of any upper or lower bounds on the nodes.

[2020-07-17 05:10] castrong commented on #111
Changliu found that this seems to be an issue with GLPK and not with Sherlock. [this](https://lists.gnu.org/archive/html/bug-glpk/2015-05/msg00001.html ) shows a similar error, and re-running with Gurobi instead of GLPK as the backend avoids the exception.

[2020-07-17 05:10] #111 closed

[2020-07-17 05:27] castrong commented on #118
Should we still have M be a parameter that can be set or should it only be automatically computed? If it's still user-settable maybe we can throw a warning if it's below the value computed from the bounds?

[2020-07-17 15:13] tomerarnon commented on #118
Looks like using the bounds doesn't work. Empirically, on the `small_nnet` from the test suite, the highest absolute bounds from `get_bounds` is 12.1 and does not work (gives false holds), while anything above 26 works. Using pre-activation bounds (manually, by making a new network with only Id layers) gives a value closer to 70 as the max bound, which works fine. However, I think my thinking on t

[2020-07-17 15:18] AvrahamRaviv commented on #118
@tomerarnon what about mine examples? Did you check the bounds with get_bounds and try differents M?
It can give you more info about the ratio between max bounds and minimum M that works fine.

[2020-07-17 15:44] tomerarnon commented on #118
Good idea. I’ll come back to this later and check that too

[2020-07-17 15:55] AvrahamRaviv commented on #118
I have more Nets, that return a counterexample for the same problem (meaning the default M =1000 works fine for them). Ill send you them tomorrow, and than we can also compare them to first 2 that return holds.

[2020-07-17 21:38] tomerarnon commented on #118
Hmm, not seeing much of a pattern. On `mnist_network_new7.nnet`, the minimum M that works is roughly 1250. The pre/post-activation bounds give values of 72k and 17k respectively; now _both_ far higher than seemingly necessary.

[This stack exchange](https://or.stackexchange.com/questions/231/when-to-use-indicator-constraints-versus-big-m-approaches-in-solving-mixed-int) also suggests that M only n

[2020-07-18 11:15] tomerarnon commented on #70
Closing, since what's left of this issue is a duplicate of #118

[2020-07-18 11:15] #70 closed

[2020-07-18 11:16] #82 closed

[2020-07-18 20:06] tomerarnon commented on #118
Using pre-activation bounds should be safe, although it is not a very tight lower bound. That's what we decided to go with, along with a one-time warning for user-set `m` values

[2020-07-18 20:26] mforets commented on #114
It is not the translation that is costly, it is the conversion to the dual representation:

[code]

[2020-07-18 22:09] tomerarnon commented on #114
`LazySets`′ `translate` doesn't suffer from this problem. I believe it wasn't yet implemented when we first needed it, but the obvious fix for this now is to just eliminate our version.

[2020-07-19 20:39] changliuliu opened #122 "Local Search in Sherlock can be unbounded"
Sherlock takes in HPolytope input, which can be unbounded. The local search function can be unbounded. For example, if we have a function y = x with constraint x>=0, the maximum on y is infinity. Global search should be fine since it only solves a feasibility problem.

* One easy fix is to require the input set to be bounded.
* A better fix is to explicitly check for unbounded cases.

[2020-07-19 21:05] mforets commented on #114
yes, i think so. in fact, all the features from [this thread](https://github.com/sisl/NeuralVerification.jl/issues/46#issuecomment-467517478) were implemented some time ago.

[2020-07-19 21:49] #114 closed

[2020-07-20 16:30] tomerarnon commented on #118
Closed by #120

[2020-07-20 16:30] #118 closed

[2020-07-21 18:15] tomerarnon commented on #9
Now that we don't use our own `translate`, `affine_map`, etc., this is no longer an issue.

[2020-07-21 18:15] #9 closed

[2020-07-21 18:33] tomerarnon commented on #122
Let's check what happens if the optimization in local_search is unbounded. Is `neurons[1]` in that case Inf/NaN/something else? And also is this easily detectible with INFEASIBLE_OR_UNBOUNDED. We can use the `y = x` test case. For now, we can make sure Sherlock is bounded along with Planet and Duality.

[2020-07-21 18:56] tomerarnon commented on #97
The timeout was enforced manually. There is currently no way to set a timeout in any of the solvers, although this is a feature that I agree could be useful.

[2020-07-21 18:56] #97 closed

[2020-07-21 18:56] tomerarnon opened #123 "Solver timeout (and other config)"
It would be great to be able to configure solver parameters like a timeout (in terms of cpu time, clock time, etc) as mentioned in #97. Other configuration options could be useful as well. Solvers that call library functions from JuMP, etc, should pass parameters like timeout along.

[2020-07-21 19:18] AvrahamRaviv commented on #123
Hi
I spent a lot of time trying to make a timeout using Julia, but I failed.
Finally, I used python's subprocess library, but it's not ideal. My code is:
`

                 try:
                    max_time = 150 # 150 Sec
                    output = subprocess.check_output(['Julia', 'juliafile.jl'], timeout=max_time).splitlines()
                    # do something
                except subproc

[2020-07-21 21:24] tomerarnon commented on #123
Thanks!
I think what we will ultimately do is something along the lines of adding a `SolverConfig` struct with the relevant fields (TBD). For solvers that call JuMP, we can pass time limits along to `JuMP.set_time_limit_sec`. For other solvers we may have to keep track of time ourselves.
Although I've never looked into it, I think also calling `yield()` in the solvers can allow them to be run asyn

[2020-07-21 23:24] #16 closed

[2020-07-22 03:53] mforets commented on #87
in this other blog post there are a few benchmarks: https://nextjournal.com/sguadalupe/week-3

i guess now @SebastianGuadalupe can send your contribution? not sure if the plan is to write a new algorithm or modify the existing `Ai2`? @tomerarnon do you have any comments on that?

[2020-07-22 23:10] tomerarnon commented on #87
Yes indeed, we should be ready for it now! I had in mind initially that Ai2 could be parameterized as e.g. `Ai2{Zonotope}`, `Ai2{HPolytope}`, `Ai2{Hyperrectangle}`. Different representations would in turn call different versions of meet/join that approximate accordingly. Since this isn't currently implemented, if you'd like to submit Ai2z as a new solver, that would be alright with me @SebastianGu

[2020-07-23 20:05] SebastianGuadalupe opened #124 "Error when running write_nnet_test.jl"
While running the file `runtests.jl`, it errors in the file `write_nnet_test.jl` with the following error:
[code]

[2020-07-23 21:32] tomerarnon commented on #124
Strange, since the tests pass for me and with travis, including in #125 . Are you running the file with `include` or with `]test`?

[2020-07-23 23:21] castrong commented on #124
If the issue comes when including the testing file (instead of with ]test) I just made PR #128 which should address that. It adds "NeuralVerification." in front of several objects so that it can be run with include as well.

[2020-07-24 16:18] tomerarnon commented on #124
closed by #128

[2020-07-24 16:18] #124 closed

[2020-07-24 20:44] castrong opened #129 "forward_partition in reachability.jl gives incorrect output for large n."
In reachability.jl, forward_partition finds the dimension of the layer then iterates through all activation states of that layer. This will be 2^n states. When n is large, say n = 200,  2^n will return 0. This makes it so that forward_partition returns an empty list in this case. This leads to issues with Ai2 and likely other reachability based solvers as well. With large enough n this function sh

[2020-07-25 14:50] #87 closed

[2020-07-25 16:25] tomerarnon commented on #129
True. If we preallocated the result vector we would throw a `MemoryAllocationError`, which is probably the right thing to do for too high `n`. However, we `push!` dynamically to the result to avoid storing many empty sets even in cases with a reasonable number of dimensions. We can use a `sizehint!` at the start,  which will throw an `InexactError` (not particularly informative though)
[code]
Note

[2020-07-25 17:43] castrong opened #131 "Segfault in ExactReach"
The following code:

[code]

With network:

//Neural Network File Format by Kyle Julian, Stanford 2016.
2, 2, 2, 5,
2, 5, 2,
This line extraneous
-6.55e4,-6.55e4,
6.55e4,6.55e4,
0.0,0.0,0.0,
1.0,1.0,1.0,
-0.7365114899510892, -0.41154368275566355,
-0.8591329390595495, 0.9370977185855476,
-0.11047670316300051, -0.2654135126870667,
0.227516004509706, 0.021382971813836527,
-0.07722192536896744, -0.601

[2020-07-25 19:09] castrong commented on #131
This seems to be an issue with LazySets. I've posted an issue to replicate it with LazySets (without going through NeuralVerification) here: https://github.com/JuliaReach/LazySets.jl/issues/2278

[2020-07-25 19:11] castrong commented on #129
Do we want a maximum size of 2^n? Could we set some @assert when starting to solve a problem that requires using this forward_partition which asserts that n is less than some constant? Say 20 or 30? This could go in the solve method. Alternatively we could add @assert n < max_n with an appropriate message to the start of forward_partition.

[2020-07-25 19:26] tomerarnon commented on #129
We could do something like that. We'd be arbitrarily limiting the dimensionality of the problem (if anyone ever wants to solve it on a super computer they'd have to go in and edit that. We could set a limiter that can be overridden...

[2020-07-27 07:53] castrong commented on #129
Yeah I like that idea so that no one is restricted if they don't want to be. We could store it in a similar way to the global tolerance with a setter function for those who wish to modify it and the assert in reachability.jl can direct people to this setter function?

[2020-07-27 13:42] tomerarnon commented on #129
Actually, in that case, how about we just issue a warning for some hard coded `n > n_max` and let the user decide if what they're doing makes sense?

[2020-07-28 21:49] clazarus opened #134 "Sherlock Error ( BoundsError: attempt to access 0-element)"
While updating the performance tests I encountered an issue when running Sherlock.

This is triggered at line 171 of runtime5.jl as in 7ad8bb4a159b5a080db9c1c6687b284e0da5cca6. It is worth noting that this test used to run normally.

[code]

[2020-07-28 21:55] clazarus opened #135 "NSVerify, MIPVerify, ILP: Assertion Failed"
While updating the performance tests I encountered the following error. It occurs with NSVerify, MIPVerify and ILP.

It can be triggered by running runtime2.jl as in 7ad8bb4a159b5a080db9c1c6687b284e0da5cca6 (lines 103, 112 and 121 and all the other tests related to these solvers). All the associated files and problem definitions are included in that commit.

It appears to be the same issue as #111

[2020-07-28 22:12] tomerarnon commented on #134
This bug occurs at `vertices_list` in
https://github.com/sisl/NeuralVerification.jl/blob/f267fcde9b9e25eca6f07fdc6d9a729467a1cee6/src/satisfiability/sherlock.jl#L57-L60

@changliu, is selecting any element of the set ok for `Sherlock`? If so, we can use the `LazySets` function `an_element` without resorting to vertex representation. It's possible that the input set has no vertices because it is a

[2020-07-28 22:16] tomerarnon commented on #135
Yes, this is a problem upstream from us. Either in `GLPK` itself, or in`GLPK.jl`, or somewhere in the hierarchy of packages that lower to `GLPK's` preferred representation (`JuMP`, `MathOptInterface`, `GLPKMathProgInterface`, etc.). We'll have to solicit some outside help to figure this one out.

[2020-07-29 01:47] changliuliu commented on #134
Any element of the set should be fine. Let's change it to `an_element`

[2020-07-29 10:01] tomerarnon commented on #134
@clazarus, can you try again on the new branch called `fix/134`

[2020-07-29 16:59] castrong commented on #108
Closed with PR #130 .

[2020-07-29 16:59] #108 closed

[2020-07-30 00:01] castrong opened #137 "Ai2 "LoadError: Numerically Inconsistent""
[code]

With network:

//Neural Network File Format by Kyle Julian, Stanford 2016.
2, 4, 4, 8,
4, 8, 4,
This line extraneous
-6.55e4,-6.55e4,-6.55e4,-6.55e4,
6.55e4,6.55e4,6.55e4,6.55e4,
0.0,0.0,0.0,0.0,0.0,
1.0,1.0,1.0,1.0,1.0,
-0.23004744778871178, 0.9210992236909084, -0.030635894568796118, -0.34332947427825244,
0.8978626764268087, 0.8309944551520903, -0.014461773871067951, -0.6884545083395874,

[2020-07-30 00:04] castrong commented on #135
I found [Cbc.jl](https://github.com/jump-dev/Cbc.jl) and Gurobi worked to resolve this issue in the instances where I saw it. Cbc.jl is nice because it doesn't require a license or separate installation.

[2020-07-30 18:24] castrong opened #138 "FastLin Bug: AssertionError: radius must not be negative"
Running a the following code results in an assertion error for FastLin that the radius must not be negative. The input set at least doesn't have a negative radius.

[code]

Network:
[code]

Leads to the stacktrace:
[code]

[2020-07-30 18:46] tomerarnon commented on #138
The output from get_bounds is reversed (L > U).
https://github.com/sisl/NeuralVerification.jl/blob/f267fcde9b9e25eca6f07fdc6d9a729467a1cee6/src/adversarial/fastLin.jl#L62

I'm a bit stumped by this line actually. There should be no method matching `get_bounds(::Network, ::Vector{N}, ::N)`, so I don't know what it's calling.

I think it should be something like
[code]
in `solve`, and then we don't

[2020-07-30 18:49] tomerarnon commented on #137
Do you have more of the stacktrace? The first line above is already from CDDLib, which is beyond our paygrade!

[2020-07-30 20:42] changliuliu commented on #138
FastLin is calling get_bounds in Conv_Dual.

[2020-07-30 21:04] #129 closed

[2020-07-30 21:05] tomerarnon commented on #98
closed by #45

[2020-07-30 21:05] #98 closed

[2020-07-30 21:07] changliuliu commented on #58
We can apply the global tolerance TOL in iLP.

[2020-07-31 10:37] tomerarnon commented on #138
Suggesting convdual is still buggy...

[2020-07-31 16:00] castrong commented on #137
I tried but am now not able to reproduce it with the same setup. I wonder if something with merging in master fixed it but it took restarting my environment to see that change? I am using Revise so I wouldn't have expected that and I had tried after my most recent merge.

[2020-07-31 17:00] SebastianGuadalupe commented on #137
That may be because you were using the algorithm that now is called `Ai2h` in master.

[2020-08-01 00:08] castrong commented on #137
Thanks for the suggestion! I tried running with Ai2h() instead of Ai2() in master and it just runs indefinitely (instead of leading to an error). As a result, I'm still not sure what changed to make the old error disappear.

[2020-08-01 23:01] #138 closed

[2020-08-02 00:16] mforets commented on #137
The errors are perhaps related to how the inputs are used in the algorithm? Note that both Ai2h resp. the Ai2z approaches as shown below work fine in the example:

[code]

[code]

![Screenshot from 2020-08-01 21-14-34](https://user-images.githubusercontent.com/12424594/89112655-2dd0b400-d43c-11ea-866b-ef01995232ea.png)

[2020-08-02 01:40] SebastianGuadalupe commented on #137
@mforets what you call `Ai2h` there is called `Box`, `Ai2h` is the old implementation of Ai2 in NeuralVerification!

[2020-08-02 02:18] mforets commented on #137
ok, thanks.. i thought the `h` was for Hyperrectangle :)  now using the `forward_partition` API, (i) both `Box` and `Ai2z` work, (ii) `Ai2z` coincides with my plot above for the Z2 set, and (iii) `Box` doesn't return a box but a zonotope which is better than H2 but worse than Z2, as expected i guess.

[code]

![Screenshot from 2020-08-01 23-15-55](https://user-images.githubusercontent.com/12424594

[2020-08-03 13:40] tomerarnon commented on #137
I also saw the call with Ai2h hang forever. When I interrupted eventually, I remember the stacktrace went through `removehredundancy` in `Polyhedra`, originally through `convex_hull`. For low dimensional sets like these, this is worth looking into further. I can try digging into it again.

[2020-08-03 15:54] mforets commented on #137
where/why is `convex_hull` used? the approach "Box" works for high dimensions as well, as shown in @SebastianGuadalupe [blog](https://nextjournal.com/sguadalupe/week-3) in dimension ~1000.

[2020-08-03 15:55] SebastianGuadalupe commented on #137
It is used in the old implementation, `Ai2h`.

[2020-08-03 15:59] SebastianGuadalupe opened #140 "MaxSens resolution not working"
When debugging for the error, it seems to me that is in the function `partition(input::Hyperrectangle, Δ)`, printing the set before and after, the set is empty after the function is used. When using `solve(MaxSens(resolution = 0), problem_mnist)`, the algorithm works fine, so `Δ == 0 && return [input]` it's doing its job and can be used as a workaround.

[2020-08-03 16:09] tomerarnon commented on #137
@mforets once again, the h in `Ai2h` is for `Ai2{HPolytope}` (the old "tight" implementation). Maybe this name is too misleading. Any ideas on what would be a clearer alias? `Ai2H`? `Ai2poly`?

[2020-08-03 16:15] tomerarnon commented on #140
ARGH! I was sure length(CI) would return a BigInt (or throw an error) if the size was too big. Instead, this is again an issue with integer overflow. Trivial to fix, luckily.

[2020-08-03 16:48] SebastianGuadalupe opened #141 "Ai2 Id layer not working as intended"
The current implementation is
[code]
but what I understand is correct would be
[code]

[2020-08-03 20:51] castrong opened #142 "BaB LoadError: BoundsError: attempt to access 0-element Array{Tuple{Float64,Hyperrectangle},1} at index [1]"
**The following code:**

[code]

**With Network**:

//Neural Network File Format by Kyle Julian, Stanford 2016.
3, 1, 1, 10,
1, 10, 4, 1,
This line extraneous
-6.55e4,
6.55e4,
0.0,0.0,
1.0,1.0,
0.6056104990494569,
0.4153028716379672,
0.9211172771907692,
0.2337320346795826,
-0.5957559609248659,
-0.17712891699074218,
0.7563221647013192,
0.497896687328248,
0.614048448426562,
0.5499342581672466,
-0.85

[2020-08-03 21:12] castrong opened #143 "DLV and BaB disagreement - likely DLV incompleteness"
**The following code:**

[code]

**With Network:**

//Neural Network File Format by Kyle Julian, Stanford 2016.
4, 1, 1, 12,
1, 10, 12, 10, 1,
This line extraneous
-6.55e4,
6.55e4,
0.0,0.0,
1.0,1.0,
0.6855274865721181,
-0.9771575891696487,
0.24436191691459674,
0.5796979313522272,
0.31736117496886296,
-0.01098060958697955,
0.8213744894997128,
0.8341318198443974,
-0.8209153033350445,
0.8748276255647

[2020-08-03 21:30] castrong opened #144 "NSVerify and ConvDual disagreement - likely ConvDual unsoundness"
**The following code: **
[code]

**With Network: **
[code]

**Leads to output: **

[code]
Since NSVerify is complete and ConvDual is incomplete, this represents an error. Either NSVerify is incompletely identifying a :holds as a :violated or ConvDual is unsoundly identifying a :violated as a :holds. **It's likely that ConvDual is at fault since it also disagrees with MIPVerify, Reluplex, and Plane

[2020-08-03 22:10] tomerarnon commented on #141
Technically this is not a type instability, since the return type of `affine_map(L, ::Hyperrectangle)` is inferable (always a Zonotope). I don't think this is really a problem, except that it is maybe surprising to get a `Zonotope` out of the `Box` solver (even though that is more precise than overapproximating the output as a hyperrectangle). Although it loses a bit of precision, I wouldn't mind

[2020-08-03 22:12] tomerarnon opened #145 "Box solver forward_layer(L, ::AbstractZonotope) will error for Zonotopes."
As noted in #141, this is due to `approximate_affine_map`

[2020-08-03 22:26] castrong commented on #143
I just realized that in the NV.jl implementation of DLV it is sound but not complete. As a result, this does not seem to actually be an issue.

[2020-08-03 22:26] #143 closed

[2020-08-03 22:35] tomerarnon opened #147 "Make MaxSens `partition` an iterator"
It would be twice as efficient not to have to allocate the partitioned hyperrectangles. Something like
[code]

Then we allocate only the end result of `map(forward_network, iter)`.

Other potential names: `DividedHyperrectangle`, `SubHyperrectangles`.

[2020-08-03 23:07] castrong opened #148 "NSVerify and Certify disagreement - likely Certify unsoundness"
**With code:**

[code]

**And Network: **
//Neural Network File Format by Kyle Julian, Stanford 2016.
2, 1, 1, 8,
1, 8, 1,
This line extraneous
-6.55e4,
6.55e4,
0.0,0.0,
1.0,1.0,
0.2872676790717188, 0.2384668744592906, -0.44125516640242823, 0.5465712420076443, -0.24896079757531542,
0.5792632143810761, 0.2659379850546726, 0.2601311416768719, -0.09235576858895866, -0.11774237539899213,
0.14693833502

[2020-08-03 23:19] castrong opened #149 "NSVerify and ILP disagreement - likely ILP unsoundness."
**With Code:**
[code]

**And Network: **
//Neural Network File Format by Kyle Julian, Stanford 2016.
2, 1, 1, 8,
1, 8, 1,
This line extraneous
-6.55e4,
6.55e4,
0.0,0.0,
1.0,1.0,
0.8678491028912014, -0.5203780903607784, -0.5142031406625782, -0.6977040448276313, -0.976885080551285,
-0.1460743574085881, 0.3154578548182978, 0.9532183372024212, -0.574760350454679, 0.6341150831930098,
-0.789863067752637

[2020-08-04 02:11] changliuliu commented on #144
This one is due to floating point error: the counter example found is on the boundary of the half space constraint. And when we check the set inclusion of the output from the counter example, it returns conflicting result:

We may create a warning to alert the user about the floating point error.

[2020-08-04 07:33] clazarus commented on #134
Great thank you! I had missed this, the issue was fixed. Should we merge fix/134 into master or once performance-tests is merged?

[2020-08-04 12:34] mforets commented on #144
this looks like an upstream bug.. but i can't reproduce it, how do i get `output` in the conflicting result above?

[code]

[2020-08-04 17:58] tomerarnon commented on #134
If this worked for you, I'll merge it. It's the right direction anway.

[2020-08-04 18:52] clazarus commented on #135
I switched to Cbc.jl and observed consistent results in the sanity and performance tests. I think we should avoid using GLPK for the moment, perhaps we should consider switching the default backend.

[2020-08-04 18:52] #135 closed

[2020-08-05 01:54] changliuliu commented on #144
@mforets you need to compute the output:

[code]

[2020-08-05 06:29] AvrahamRaviv commented on #148
Nsverify should return a counterexample, you can check if thia is real counterexample. If yes, you can be surely that Certify ia the isuue

[2020-08-05 10:15] #134 closed

[2020-08-05 10:46] #140 closed

[2020-08-05 13:28] mforets commented on #144
ok,, thanks ! the bug should be fixed in the latest release, [v1.37.6](https://github.com/JuliaReach/LazySets.jl/releases/tag/v1.37.6).

[2020-08-05 21:05] #144 closed

[2020-08-05 21:58] #142 closed

[2020-08-06 00:36] changliuliu commented on #149
This will be addressed by https://github.com/sisl/NeuralVerification.jl/pull/154#issue-463712903

[2020-08-09 19:41] #148 closed

[2020-08-10 23:25] tomerarnon opened #156 "Silence SCS printout"
We get a large printout like the following each time we run SCS. We should be able to silence it through jump
[code]

[2020-08-10 23:42] tomerarnon opened #157 "Make it easy to change default optimizer"
We have a lot of `GLPK.Optimizer` set as the default for many algorithms. Since we've run into some trouble with `GLPK`, it occurs to me that it would be nice for the default to be easily changed.

[2020-08-11 18:33] tomerarnon commented on #64
Should have been resolved in #120.

[2020-08-11 18:33] #64 closed

[2020-08-11 18:34] #49 closed

[2020-08-11 18:35] tomerarnon commented on #42
We warn if this will happen now #146.

[2020-08-11 18:35] #42 closed

[2020-08-11 18:36] #46 closed

[2020-08-11 18:38] tomerarnon opened #158 "Make get_bounds take any set."
This will resolve #31. We can overapproximate any set as a hyperrectangle.

[2020-08-11 20:27] tomerarnon commented on #67
For the record, since this came up again, the initial proposal was to implement essentially:
[code]

Today we noted that instead of the above, we can likely do
[code]
for most algorithms that would be affected by this. We don't have to reencode the problem each time this way, and may also be able to take advantage of a warm-start in some cases.

[2020-08-12 18:44] #149 closed

[2020-08-15 14:28] #156 closed

[2020-08-23 22:18] castrong opened #161 "Reluval bounds and consistency bug"
I found that Reluval bounds appear to be tighter than the ground truth bounds for each node. This leads to the following issue:

[code]

With network:

//Default header text.
//Should replace with the real deal.
2, 1, 1, 4,
1, 4, 1,
This line extraneous
-6.55e4,
6.55e4,
0.0,0.0,
1.0,1.0,
-0.975284591130944,
0.7885734449914388,
0.7617017307581886,
0.5385053811330853,
0.7085867110914621,
-0.32828733

[2020-08-24 09:18] #161 closed

[2020-08-27 12:47] tomerarnon opened #165 "Fix Project.toml compat"
build fails on 1.2 because we don't have a compat section to take care of things like that

[2020-09-01 09:09] tomerarnon opened #169 "Reorganize repo"
The optimization/adversarial/satisfiability categories have been obsolete for a long time. The only distinctions that make sense are between "optimization" and "reachability" (and maybe "hybrid"). We should reorganize accordingly.

[2020-09-01 09:11] tomerarnon commented on #122
Closed by #151

[2020-09-01 09:11] #122 closed

[2020-09-01 09:15] tomerarnon opened #170 "Relax bounded input restriction"
Where possible, we should relax the restriction on bounded inputs sets. The algorithms that currently have this restriction are:
- Reluval (must remain bounded)
- Neurify
- Planet
- Sherlock

[2020-09-01 19:25] tomerarnon opened #171 "Add performance tests"

[2020-09-02 14:20] tomerarnon opened #172 "Extend encoding/model interface"
After #166, it makes sense to have a function `init_model(model, problem, encoding)`, that initializes all of the necessary variables for a particular problem formulation. And it may also make sense to have an `encode(encoding, model, i, j)` that dispatches to the correct `encode_relu/id` for the node `(i,j)`. In particular, having both of these be abstracted makes it apparent that the process for

[2020-09-02 15:10] tomerarnon opened #173 "Remove support for PiecewiseLinear"
No algorithm uses them, and they make us depend on `Interpolations` for no good reason.

[2020-09-04 19:08] tomerarnon commented on #71
closed by a combination of #174 and #151

[2020-09-04 19:08] #71 closed

[2020-09-04 19:08] tomerarnon commented on #172
closed by #174

[2020-10-04 09:22] AvrahamRaviv opened #177 "Reluplex wrong behavior"
following this example:
https://github.com/sisl/NeuralVerification.jl/blob/master/examples/cars_workshop/5%20image%20classification.ipynb
replacing mnist3 by mnist1, got a counterexample, but the net actually said it's the right digit:
![image](https://user-images.githubusercontent.com/56107590/95011760-ae2db400-063b-11eb-940c-55ba0dab04d7.png)
maybe it's come from a float number since the output_

[2020-10-04 15:14] tomerarnon commented on #177
Hi @AvrahamRaviv, you rightly point out that this is due to numerical issues, since the two values (labels 8 vs 1) differ by much less than machine precision. I'm assuming you're on the master branch, which uses a comparison tolerance for reluplex. This result maintains soundness, which we prioritize over completeness when necessary, but I can look into this to ensure this is the intended result.

[2020-10-04 16:53] AvrahamRaviv commented on #177
Thanks. Is there anyway to use reluplex with both soundness and completeness?

[2020-10-04 17:05] tomerarnon commented on #177
Only to within the bounds of numerical tolerance. But we can investigate improving completeness in these cases where the counterexample is falsifiable, as in this case, or allowing users to relax soundness (instead of completeness) in the tolerance handling.

[2020-10-06 07:17] preritt opened #178 "Conjuction of constraints on output"
Hi
The tool allows constraints to be specified in the following format

[code]

What if I want multiple constraints to be satisfied simultaneously? Can `A` have multiple rows and `b` be a column vector? For instance, can we have the following requirement on the outputs?

[code]
Thanks!

[2020-10-06 11:11] tomerarnon commented on #178
Hi @preritt,
The answer is yes, but depends on the solver. The restriction is that optimization-based solvers can find counterexamples only within convex sets, requiring that the complement of `Y` must be convex. The complement of Y being Yc, that means `Yc` must be convex. Therefore, your definition above would work for optimization based solvers.
On the other hand, reachability based solvers can

[2020-10-06 16:10] mforets opened #179 "Add sigmoid and tanh activation functions"
It would be nice to add some new types for common activation functions, such as sigmoid and tanh. See definitions [here](https://en.wikipedia.org/wiki/Activation_function).

[2020-10-06 19:02] AvrahamRaviv commented on #177
Thanks, ill follow.

[2020-10-06 19:02] #177 closed

[2020-10-06 21:14] preritt commented on #178
Hi @tomerarnon
Thanks for your reply and the reference!

[2020-10-22 12:09] #179 closed

[2020-11-02 16:08] #109 closed

[2021-03-29 23:26] rlipkis opened #187 "Namespace conflict error when using alongside Flux"
Hi,

I've run into a bit of an issue when using your package. The `@requires` statement causes Flux to be loaded in full inside NeuralVerification if it's used in Main at any point. This causes a conflict with the symbol `σ`, which is exported by both LazySets and Flux.

A MWE is Flux + the script given in the README, used with a reachability-based solver,

[code]
which errors with the message
[co

[2021-04-30 12:44] LLwyct opened #191 "How to understand this line ?"
https://github.com/sisl/NeuralVerification.jl/blob/457a556197a9cf34c04e8d516de21f3e3641c2f6/src/reachability/reluVal.jl#L125

if UPPER equation's upper bound > 0, and UPPER equation's lower bound < 0.

and the `output_Up` is a two dim matrix.

Why just the last element in output_Up[j] need to be covered by UPPER equation's upper bound[j]?

[code]

i have learned this code one week. if i don't set

[2021-05-01 00:14] tomerarnon commented on #191
The comment above that block attempts to explain it:
https://github.com/sisl/NeuralVerification.jl/blob/457a556197a9cf34c04e8d516de21f3e3641c2f6/src/reachability/reluVal.jl#L117-L126

Setting each column to 0 turns the set representing the upper bound into a point (these columns are the generators of the set). The last column represents the "bias" term, i.e. where the center of the set is located

[2021-05-01 10:59] LLwyct commented on #191
@tomerarnon
very very very Thank you for your reply！

I am trying to use python to implement reluval. And I referenced the code in Venus.

I distinguish Equation and bounds. And `Equation.dot(input) is bounds`. And Equation is composed of matrix and offset. The offset here is the layer-by-layer accumulation of bias, and so is the matrix. so `Equation.dot(input) + offset is bounds`。

this is my cod

[2021-05-01 21:01] tomerarnon commented on #191
Yes, that was a mistake! Each *row* corresponds to a generator.

By "center" I meant the same as the bias; i.e. it is the offset.

This looks right to me (assuming I understand `UpEqUpper`)! It should be equivalent to the furthest distance in the set in the direction of the ith basis vector. Or in other words, it is the upper bound on that node's upper bound. It seems natural that this is what `co

[2021-05-10 12:48] LLwyct commented on #191
@tomerarnon
thank you ！I have finished my code, , i am testing it and seem no problem now.

[2021-05-10 12:48] #191 closed

[2021-06-08 18:24] castrong opened #193 "Bug in write_nnet"
The following two lines: https://github.com/sisl/NeuralVerification.jl/blob/2949ebebac0563211aa0b7c78859137668789dfe/src/utils/util.jl#L76-L77

has a small bug where the layer_sizes list will have the output layer size as its first element instead of the input layer. The second line should access layers[1] and the second element of the size instead of layers[1] and the first element of the size.

[2021-06-09 00:09] tomerarnon opened #195 "Remove PolytopeComplement docs"
#190 got rid of `PolytopeComplement`s, so their docs can be removed or replaced with an explanation about how and when `Complement` should be used (adapted from the current docs)

[2021-06-15 01:33] p-skaisgiris opened #197 "DLV does not always return CounterExampleResult"
In the docs it says that DLV returns `CounterExampleResult` but there is a possibility that the solver returns `ReachabilityResult`

[2021-12-15 00:17] chelseas opened #200 "Storing things in model[:network] instead of model.ext[:network]"
See this issue: https://github.com/jump-dev/JuMP.jl/issues/2828

[2021-12-15 00:32] odow commented on #200
Ah so the problem is here:
https://github.com/sisl/NeuralVerification.jl/blob/237f0924eaf1988188219aff4360a677534f3871/src/optimization/utils/constraints.jl#L18-L20

You either need to store it in `model.ext[:network]` and implement
https://github.com/jump-dev/JuMP.jl/blob/59752794521b8c5eddfd5a57c595bb096a4a56b2/src/copy.jl#L6-L29
or you need to implement `getindex` for
https://github.com/jump-de

[2022-04-12 22:24] chelseas opened #201 "Issue with Install"
Getting this error on install into a new environment:

[code]

Also why are the JuMP, GLPK and MathOptInterface versions so old? Can we bump them to latest?

[2022-04-13 06:56] odow commented on #201
@chelseas this is your problem. You can't install the latest version of SCS with an old version of JuMP and GLPK. The correct solution is to update this package.

The reason that Julia doesn't find you a feasible set of packages to install is because NeuralVerification doesn't specify it's compatibility bounds:
https://github.com/sisl/NeuralVerification.jl/blob/237f0924eaf1988188219aff4360a677534f

[2022-04-13 07:00] odow commented on #201
It might be sufficient to just remove https://github.com/sisl/NeuralVerification.jl/blob/237f0924eaf1988188219aff4360a677534f3871/Project.toml#L8
from Project.toml.

[2022-04-13 07:01] chelseas commented on #201
Ohhhh! It wasn't a mysterious solution to [SCS ](https://github.com/jump-dev/SCS.jl/issues/254)-- I updated JuMP to 0.21.10.

Wait I don't understand -- if NeuralVerification.jl is fine with any version of JuMP and GLPK why can't Julia find a feasible set of packages to install?

[2022-04-13 07:04] odow commented on #201
1. You're trying to install https://github.com/JuliaOpt/GLPKMathProgInterface.jl
2. Which limits GLPK to v0.13 https://github.com/JuliaOpt/GLPKMathProgInterface.jl/blob/26f755770f8b70a81ade83cd1e6d85fa8c8254c9/Project.toml#L12-L13
3. Which limits MOI to v0.9 https://github.com/jump-dev/GLPK.jl/blob/a92bcc69814c9613a338e02f159a6ea31bd57f7c/Project.toml#L16
4. Which means you're forced to install an

[2022-04-13 22:26] tomerarnon commented on #201
Hi @chelseas, does this mean you solved the problem? I could take a look at whether we need GLPKMathProgInterface anymore if need be, since it sounds like removing it would resolve the issue as well.

[2022-04-13 22:41] chelseas commented on #201
Yea if you could take a look that would be great.

On Wed, Apr 13, 2022, 3:26 PM tomerarnon ***@***.***> wrote:

[2022-05-30 19:47] castrong opened #203 "Install Issue"
When installing NeuralVerification.jl, I get the following output and error:

[code]

Rerunning in a fresh environment, I got

[code]

[2022-05-30 20:00] mykelk commented on #203
We should actually have a `compat` section in NeuralVerification that specifies compatible versions. That should be added.

[2022-05-30 20:03] castrong commented on #203
@mykelk would that go in the `src/NeuralVerification.jl` file?

[2022-05-30 20:06] mykelk commented on #203
It would go here:
https://github.com/sisl/NeuralVerification.jl/blob/master/Project.toml

See the `Project.toml` in https://github.com/sisl/OVERT.jl for an example.

[2022-05-30 20:47] castrong opened #205 "Bounds not applied for BoundedMixedIntegerLP"
In encode_relu https://github.com/sisl/NeuralVerification.jl/blob/237f0924eaf1988188219aff4360a677534f3871/src/optimization/utils/constraints.jl#L141-L156

we have

[code]

 The upper and lower bounds are not actually applied to the variable z_ij. I think this can significantly slow down solving the MIP.  I believe we should add those bounds here. Additionally at [https://github.com/sisl/NeuralVer